 <!-- Get in touch Heading - fixed version -->
	<section class="communities">
		 <div class="container">
			<h2>{{address.getInTouchHeading}}</h2>
			<div class="row topbox-con">
			  <div class="col-sm-4">
				<p class="pera-textbig" >
					<markdown [data]="address.residentDescription"></markdown>
				</p>
				<p></p>
				<!-- <p class="pera-textbig"> <a href="#">1300 361 311 </a><br><a href="mailto:sales@gty.com.au">sales@gty.com.au</a></p> -->
			  </div>
			  <div class="col-sm-4">
				<p class="pera-textbig" >
				<markdown [data]="address.generalEnquiriesDescription"></markdown>
				</p>
				<p></p>
				<!-- <p class="pera-textbig"><a href="#"> +61 2 8818 9600</a> <br><a href="mailto:info@gty.com.au">info@gty.com.au</a></p> -->
			  </div>
			  <div class="col-sm-4">
				<p class="pera-textbig" >
				<markdown [data]="address.investorEnquiriesDescription"></markdown>
				</p>
				<p></p>
				<!-- <p class="pera-textbig"><a href="#">+61 2 8818 9600</a> <br><a href="mailto:investors@gty.com.au">investors@gty.com.au</a></p> -->
			  </div>  
			</div>
		 </div>
	 </section>
	<!-- Get in touch Heading - fixed version end -->
	 
	 
	<!-- Get in touch form and address - fixed version -->
	<section class="getintouch-form-warp">
		<div class="container">
			 <div class="row">
				<div class="col-sm-12 pull-right col-xs-12  col-md-4">
					<div class="address-boxes">
						<div class="box" *ngFor="let query of getinTouch;let i = index;">                        
						   <div class="box1" [ngStyle]="{'background': 'url(' + query.image + ')','background-repeat': 'no-repeat','background-position': 'center'}" >
								<div class="content-wp" >
									<h2>{{query.Heading}}</h2>
									<p>{{query.Description}}</p>
								</div>
							</div>
						</div>

						
					</div>
				</div>
				<div class="col-sm-12 col-md-8">
					<div class="git-form">
						 <div class="row">
						 <!-- form starts here-->
                           <form #infoForm="ngForm" novalidate>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.firstname" 
                                           class="form-control" placeholder = "First name*" name="firstname" type="text" #firstname="ngModel" 
                                           [ngClass]="{'red-border-class': firstname.invalid && submitted == true }" required> 
                                           <p class="requiedred" [hidden]="firstname.valid || submitted == false">
                                            Please Enter First name
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.lastname" 
                                           class="form-control" placeholder = "Last name*" name="lastname" type="text" #lastname="ngModel" 
                                           [ngClass]="{'red-border-class': lastname.invalid && submitted == true }" required>
                                           <p class="requiedred" [hidden]="lastname.valid || submitted == false">
                                            Please Enter Last name
                                        </p>   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.plan" 
                                           class="form-control" placeholder ="When are you planning on buying?" name="plan" type="text" #plan="ngModel">   
                                        </div>
                                    </div>  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.phone" 
                                           class="form-control" placeholder = "Phone" name="phone" type="tel" #phone="ngModel">   
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.email" 
                                           class="form-control" placeholder = "Email*" name="email" type="email" #email="ngModel" [ngClass]="{'red-border-class': email.invalid && submitted == true }" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>  
                                           <p class="requiedred" [hidden]="email.valid || submitted == false">
                                            Please Enter your email
                                            </p> 
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <textarea [(ngModel)]="info.area" 
                                           class="form-control" placeholder="Anything else you'd like to tell us?" name="area" type="text" #area="ngModel" rows="7" ></textarea>
                                        </div>
                                    </div> 
							<div class="col-sm-12">
							<button class="btn-blue" id="send-sucess"
                                     (click)="getInfo(infoForm)" 
                                    type="submit">Get in touch</button>
							</div>
						 </form>
						 </div>
					 </div>
				</div>
			 </div>
		</div>
	</section>
	<!-- Get in touch form and address - fixed version end -->
  
    <!-- featured homes Section - fixed version -->
	<section class="sale-at-Aspley padbot0 margbot80 margtop0" id="featured-home">
		<div class="container">
			<div class="card">
				<h2 class="heading">Featured homes</h2>
				<div class="heading-right-link"><a routerLink="/homes-for-sale">Discover all {{homeCount}} homes for sale</a></div>
				<div class="divider"></div>
			</div>
		</div>

		<div class="tab-content">
			<!-- all homes tab -->
			<div role="tabpanel" class="tab-pane active" id="All-homes">
				<div class="lookingsomthing-warp home-carousel">
					<div class="inner-box-warp">

						<div class="center slider">
							<!-- community card -->
							<div *ngFor="let home of featuredHomes;let jj = index">
								<ul class="home-for-sale">
									<li class="detail-list">
											<div class="img-slider-warp mart-bot14">
												<div class="sl-box">
													<span *ngIf="home.status=='sold'" class="paid-btn">sold</span>

                                                    <span *ngIf="home.status=='under_offer'" class="paid-btn" style="background: #f89923;">Under Offer</span>
													<div id="carousel{{jj}}" class="carousel slide" data-interval="false">
														<div class="carousel-inner home-carousel">															
														<div class="item" *ngFor="let _image of home.images;let ii = index" [ngClass]="{active: ii===0}">
							                                  <img 
							                                  [src]="_image" 
							                                  alt="">
							                              </div>
														</div>
														<a class="left carousel-control" href="#carousel{{jj}}" data-slide="prev">‹</a>
														<a class="right carousel-control" href="#carousel{{jj}}" data-slide="next">›</a>
													</div>

												</div>
											</div>
											<a href="homes-for-sale/{{home.id}}">
											<div class="pr-b" *ngIf="home?.list_price">${{home?.list_price |number:'1.0'}}</div>
											<p>{{home.address}} {{home.address1}}</p>
											<h4 class="margt25"><i class="sicon" [ngStyle]="{'background-image': 'url(' + home?.community?.community_icon?.url + ')','background-repeat': 'no-repeat','background-position': 'center'}"></i> Located in {{home.community.first_name}}</h4>
											<div class="afs-wp">
												<ul>
													<li><i class="bed"></i> {{home.no_of_bedrooms}}</li>
													<li><i class="tub"></i> {{home.no_of_bathrooms}}</li>
													<li><i class="car"></i> {{home.car_space}}</li>
												</ul>
												 <div *ngIf="home?.record_type == 'Pre-loved'" class="new-btn new-btn" style="border: 1px solid #62717f; color: #62717f!important; ">Pre Loved</div>
                                                <div *ngIf="home?.record_type == 'New'" class="new-btn new-btn">New</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- end of all homes tab -->
		</div>


	</section>
	<!-- featured homes Section - fixed version -->