    <!-- Media gallery -->
    <div class="media-gallery premium ">
        <!-- hero display -->
        <div class="banner-res">
            <div class="ban-slider">
                <img [src]="home_detail?.images[0]">
            </div>
            <!-- responsive community logo goes here -->
            <div class="sm-imgba"><img [src]="linkedCommunity?.community_logo.url"></div>
            <!-- responsive community logo goes here -->
        </div>
        <!-- end of hero display -->
        <!-- modal triggers -->
        <div class="container">
        <a href="javascript:void(0);" id="firstImageTrigger" data-eventname="photoView"   class="aphotos detail_btn" (mouseover)="changeColor($event)" 
        (mouseout)="changeColor($event)" [ngStyle]="{'color': linkedCommunity?.primary_color}">All Photos</a> 
        </div>
        <!-- modal assets here -->
        <ul id="lightGallery" class="gallery hidden-xs">
            <li class="gallery-image" attr.data-img-src="{{home_detail?.images[0]}}" attr.data-src="{{home_detail?.images[0]}}">
                <img [src]="home_detail?.images[0]" alt="" />
            </li>
            <li class="gallery-image" *ngFor="let _image of slider_images" attr.data-img-src="{{_image}}" attr.data-src="{{_image}}">
            </li>
        </ul>
        <!-- end of modal assets here -->
        <div id="galleryLoader" class="image-placeholder">
            <div class="image-loader-wrap with-icon animated">
                <div class="image-loader"></div>
                <span class="f-icon">
               <span class="icon domain-icon-ic_home"></span>
                </span>
            </div>
        </div>
        <!-- end of modal triggers -->
    </div>
    <!-- end of Media gallery -->

    <!--Belong section start - Home for sales -->
    <section class="belong-section">
       <div class="secondary-nav-mobile">
            <a href="tel:{{linkedCommunity?.phone}}" class="nav-mobile-left" [ngStyle]="{'background': linkedCommunity?.primary_color}">
                <div class="mob-data">
                    <div class="mob-img">
                        <img src="images/call.png" />
                    </div>
                    <span>call</span>
                </div>
            </a>
            <a *ngIf="fullDetail?.community_info_pack?.info_pdf?.url" class="nav-mobile-right" data-toggle="modal" data-target="#get-an-info-pack-modal" [ngStyle]="{'background': linkedCommunity?.primary_color}">
                <div class="mob-data">
                    <div class="mob-img">
                        <img src="images/get-an-info.png" />
                    </div>
                    <span>get an info pack</span>
                </div>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 des-hide col-md-3 right-top my-block">
                    <div class="right-box-top">
                        <div class="tp-w">
                            
                            <h2>${{home_detail?.list_price}} 
                               <span *ngIf="home_detail?.status=='sold'" class="under-offer" style="background: #25A45F;">Sold</span>
                            <span *ngIf="home_detail?.status=='under_offer'" class="under-offer">Under Offer</span></h2>
                            <p>{{home_detail?.address}}</p>
                            
                        </div>    
                        
                        <ul class="iconwpservices">
                          <li>
                           <i class="icon bed"></i>
                           {{home_detail?.no_of_bedrooms}}
                          </li> 
                          <li>
                           <i class="icon bath"></i>
                           {{home_detail?.no_of_bathrooms}}   
                          </li> 
                          <li>
                           <i class="icon parking"></i>
                           {{home_detail?.car_space}} 
                          </li>  
                          <span *ngIf="home_detail?.record_type=='New'" class="new">New</span>
                            <span *ngIf="home_detail?.record_type=='Pre-loved'" class="new pre-l" style="color: #62717F; 
                            border: 1px solid #62717F;">Pre Loved</span>  
                        </ul>  
                         
                        
                    </div>
                </div>
                <div class="col-sm-7 w642 col-md-9">
                    <div class="card">
                        <ul class="nav nav-tabs resno" role="tablist">
                            <li class="active sc" *ngIf="home_detail?.headline || home_detail?.description"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" [ngStyle]="{'color': linkedCommunity?.primary_color}">About this home<div [ngStyle]="{'background': linkedCommunity?.primary_color}" class="bottom-line"></div></a></li>
                            <li class="sc" *ngIf="fullDetail?.community_facilities?.length"><a (click)="scrollTo(facilities)" (mouseover)="after($event)" 
                        (mouseout)="after($event)">Community facilities<div style="background: none" class="bottom-line" ></div></a></li>
                            <li class="sc" *ngIf="fullDetail?.near_bys.length"><a (click)="scrollTo(activities)" (mouseover)="after($event)" 
                        (mouseout)="after($event)">Activities<div style="background: none" class="bottom-line"></div></a></li>
                            <li class="sc"><a (click)="scrollTo(Location)" (mouseover)="after($event)" 
                        (mouseout)="after($event)">Location<div style="background: none" class="bottom-line"></div></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active sc" id="home" *ngIf="home_detail?.headline || home_detail?.description">
                                <h3 class="big-heading" [ngStyle]="{'color': linkedCommunity?.primary_color}">{{home_detail?.headline}}</h3>
                                <div class="read-more-hide">
                                    <p class="pera-textbig">{{home_detail?.description}}</p>
                                </div>
                                <a id="read-more" class="read-more" (click)="readMore()"> <span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-3 hidden-xs right-top my-data-block">
                    <div class="right-box-top">
                        <div class="tp-w">
                            <span *ngIf="home_detail?.status=='sold'" class="under-offer" style="background: #25A45F;">Sold</span>
                            <span *ngIf="home_detail?.status=='under_offer'" class="under-offer">Under Offer</span>
                            <h2>{{home_detail?.address}}</h2>
                            <!-- <h2> Zillmere Road</h2> -->
                            <p>{{home_detail?.address1}}</p>
                            <span *ngIf="home_detail?.record_type=='New'" class="new">New</span>
                            <span *ngIf="home_detail?.record_type=='Pre-loved'" class="new pre-l" style="color: #62717F; 
                            border: 1px solid #62717F;">Pre Loved</span>
                        </div>    
                        <h3>${{home_detail?.list_price | number : '1.0'}}</h3>
                        <ul class="iconwpservices">
                          <li>
                           <i class="icon bed"></i>
                           <span>{{home_detail?.no_of_bedrooms}} Beds</span>   
                          </li> 
                          <li>
                           <i class="icon bath"></i>
                           <span>{{home_detail?.no_of_bathrooms}} Baths</span>   
                          </li> 
                          <li>
                           <i class="icon parking"></i>
                           <span>{{home_detail?.car_space}} Parking</span>   
                          </li>    
                        </ul>    
                        <div class="bot">
                            <div class="img-b"><img [src]="linkedCommunity?.salesperson_image?.url" alt=""></div>
                            <div class="rt-col">
                                <p><strong>{{linkedCommunity?.salesperson_name}}</strong></p>
                                <p>{{linkedCommunity?.phone}}</p>
                                <p>{{linkedCommunity?.email}}</p>
                            </div>

                        </div>
                        <button *ngIf="fullDetail?.community_info_pack?.info_pdf?.url"  (mouseover)="changeInfoColor($event)" 
                        (mouseout)="changeInfoColor($event)" [ngStyle]="{'background-color': linkedCommunity?.primary_color,'border-color':linkedCommunity?.primary_color}"  class="btn btn-org" data-toggle="modal" data-target="#get-an-info-pack-modal">Get an info pack</button>
                    </div>
                </div>
                </div>
            </div>
    </section>
    <!-- end Belong section start - Home for sales -->

     <!-- start Community Masterplan section -->
    <section class="community-masterplan" *ngIf="fullDetail?.home_design">
        <div class="container">
            <div class="top-file-lw">
                <h2 class="heading">Layout & highlights</h2>
                <a *ngIf="fullDetail?.home_design?.floorplan_pdf?.url" href="https://www.admin.gatewaylifestyle.com.au{{fullDetail?.home_design?.floorplan_pdf?.url}}" target="_blank"><i></i> Download Floorplan PDF</a>
            </div>
            <div class="divider"></div>
            <div class="masterplan-wp highlights">
                <div class="box">
                    <div class="left-side-image">
                        <img 
                        [src]="fullDetail?.home_design?.floorplan_image?.url" alt=""/>
                    </div>
                    <div class="right-side-image">
                        <ul class="text-highlight">
                            <li class="highlight-heading">{{fullDetail?.home_design?.feature_title1}}</li>
                            <li class="highlight-text">{{fullDetail?.home_design?.description1}} </li>
                        </ul>
                        <ul class="text-highlight">
                            <li class="highlight-heading">{{fullDetail?.home_design?.feature_title2}}</li>
                            <li class="highlight-text">{{fullDetail?.home_design?.description2}}</li>
                        </ul>
                        <ul class="text-highlight">
                            <li class="highlight-heading">{{fullDetail?.home_design?.feature_title3}}</li>
                            <li class="highlight-text">{{fullDetail?.home_design?.description3}}</li>
                        </ul>
                        <ul class="text-highlight">
                            <li class="highlight-heading">{{fullDetail?.home_design?.feature_title4}}</li>
                            <li class="highlight-text">{{fullDetail?.home_design?.description4}}</li>
                        </ul>
                    </div>
                </div>               
            </div>
        </div>
    </section>
    <!--end-->

    
    <!-- start Go To Community  section -->
    <section class="goto-community" [ngStyle]="{'background-image': 'url(' + linkedCommunity?.featured_image.url + ')','background-repeat': 'no-repeat','background-position': 'center'}">        
        <div class="container">
            <div class="box-warp">
                <div class="logo-community"><img [src]="linkedCommunity?.community_logo.url" alt=""></div>
                <p class="pera-textbig">This home is located in {{linkedCommunity?.first_name}} {{linkedCommunity?.last_name}}.</p>
                <p class="pera-textbig">{{linkedCommunity?.first_name}} is a peaceful residential area set around Little Cabbage Tree Creek, in the northern suburbs of Brisbane.</p>
                <button class="btntheme" (click)="goToCommunity(linkedCommunity?.slug)" (mouseover)="changeInfoColor($event)" 
                        (mouseout)="changeInfoColor($event)" [ngStyle]="{'background-color': linkedCommunity?.primary_color,'border-color':linkedCommunity?.primary_color}">Go To Community</button>
            </div>
        </div>
    </section>
    <!--end-->

    <!-- Start Home for sale at Aspley Section-->
    <section class="sale-at-Aspley padbot0 margbot80" id="Homes-for-sale"  
    *ngIf= "fullDetail?.other_homes.length">
        <div class="container">
            <div class="card">
                <h2 class="heading">Other homes in this community</h2>
                <ul class="nav nav-tabs right-tab right-sidetab" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#All-homes" aria-controls="All-homes" role="tab" data-toggle="tab" [ngStyle]="{'color': linkedCommunity?.primary_color}">All homes<div [ngStyle]="{'background': linkedCommunity?.primary_color}" class="bottom-line"></div></a>
                    </li>
                    <li role="presentation" *ngIf="newHomes?.length">
                        <a href="#New-Homes" aria-controls="New-Homes" role="tab" data-toggle="tab" (mouseover)="after($event)" 
                        (mouseout)="after($event)">New Homes<div style="background: none" class="bottom-line"></div></a>
                    </li>
                    <li role="presentation" *ngIf="preLoved?.length">
                        <a href="#Pre-loved-homes" aria-controls="Pre-loved-homes" role="tab" data-toggle="tab" (mouseover)="after($event)" 
                        (mouseout)="after($event)">Pre-loved homes<div style="background: none" class="bottom-line"></div></a>
                    </li>
                </ul>
            </div>
        </div>
        
          <div class="tab-content">
            <!-- all homes tab -->
            <div role="tabpanel" class="tab-pane active" id="All-homes">
                <div class="center slider sale-box">                    
                    <div *ngFor="let home of fullDetail?.other_homes">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a href="/homes-for-sale/{{home.id}}"><img *ngIf="home?.images?.length" [src]="home.images[0]" alt=""></a>
                                </div>
                                <a href="/homes-for-sale/{{home.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{home.address}}</h4></a>
                               <a *ngIf="home?.list_price" href="/homes-for-sale/{{home.id}}"> <p>${{home.list_price | number : '1.0'}}</p> </a>                           
                            </div>

                        </li>
                    </div>         
                </div>
            </div>
            <!-- end of all homes tab -->
            <!-- new home tab -->
            <div role="tabpanel" class="tab-pane" id="New-Homes" *ngIf="newHomes?.length">
                <div class="center slider sale-box">                    
                    <div *ngFor="let new of newHomes">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a href="/homes-for-sale/{{new.id}}"><img *ngIf="new?.images?.length" [src]="new.images[0]" alt=""></a>
                                 </div>
                                <a href="/homes-for-sale/{{new.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{new.address}}</h4></a> 
                                <a *ngIf="new?.list_price" href="/homes-for-sale/{{new.id}}"> <p>${{new.list_price | number : '1.0'}}</p> </a>                            
                            </div>

                        </li>
                    </div>          
                </div>
            </div>
            <!-- end of new home tab -->
            <!-- preloved tab -->
            <div role="tabpanel" class="tab-pane" id="Pre-loved-homes" *ngIf="preLoved?.length">
                <div class="center slider sale-box">                    
                    <div *ngFor="let loved of preLoved">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a href="/homes-for-sale/{{loved.id}}"><img  
                                  *ngIf="loved?.images?.length" [src]="loved.images[0]" alt=""></a>
                                </div>
                                <a href="/homes-for-sale/{{loved.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{loved.address}}</h4></a>
                                 <a *ngIf="loved?.list_price" href="/homes-for-sale/{{loved.id}}"> <p>${{loved.list_price | number : '1.0'}}</p> </a>                             
                            </div>

                        </li>
                    </div>
                </div> 
            </div>
            <!-- ennd of preloved tab -->
        </div>  
        
        <div class="container">
             <div class="bot-but">
                <a href="#" data-toggle="modal" data-target="#myModal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{fullDetail?.other_homes.length}} homes</a>
            </div>
        </div>
        <!-- Tab panes -->

    </section>
    <!-- end Home for sale at Aspley Section-->

   <!-- Offer section -->
    <section class="offer-headline-admin" *ngIf="fullDetail?.community_offer" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+linkedCommunity?.primary_color+' 0%, '+linkedCommunity?.secondary_color +' 100%)'}">
        <div class="col-sm-12 col-md-6 no-pad hidden-xs hidden-sm"><img [src]="fullDetail?.community_offer.image.url" alt=""></div>
        <div class="col-sm-12 col-md-6">
            <div class="rg-box">
                <h2>{{fullDetail?.community_offer.title}}</h2>
                <p>{{fullDetail?.community_offer.description}}</p>
                <div class="buttons sc"><a [ngStyle]="{'color': linkedCommunity?.primary_color}" href="{{fullDetail?.community_offer.more_about}}" class="ods-btn" target="_blank" (mouseover)="onOffer($event)" 
                                    (mouseout)="onOffer($event)">See offer details</a></div>
            </div>
        </div>
    </section>
     <!-- end  Offer section -->

    <!-- facilities Section-->
    <section class="sale-at-Aspley padbot0 margbot80 margtop0" #facilities [hidden]="!fullDetail?.community_facilities?.length">
        <div class="container">
            <div class="card">
                <h2 class="heading">Community facilities</h2>
                <div class="divider"></div>
                <p class="text-fac">You'll never want to leave the grounds with the facilities available at {{linkedCommunity?.first_name}}!</p>
            </div>
        </div>
          <div class="tab-content">
            <div class="tab-pane active" >
                <div class="center slider sale-box">                    
                    <div *ngFor="let community_facility of fullDetail?.community_facilities">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <img [src]="community_facility.image.url" alt="">
                                </div>
                                <h4 class="marg-tb" [ngStyle]="{'color': linkedCommunity?.primary_color}">{{community_facility.name}}</h4>                             
                            </div>

                        </li>
                    </div>        
                </div>
            </div>
        </div>  
        
        <div class="container">
             <div class="bot-but">
                <a href="#" data-toggle="modal" data-target="#myfaci" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{fullDetail?.community_facilities.length}} facilities</a>
            </div>
        </div>
        <!-- Tab panes -->

    </section>
    <!-- end of  facilities Section-->

    <!-- open days Section-->
    <section class="sale-at-Aspley padbot0 margbot80 margtop0" id="Open-days" 
    *ngIf= "fullDetail?.community_events.length">
        <div class="container">
            <div class="card">
                <h2 class="heading">{{fullDetail?.community_events.length}} Planned open days</h2>
                <div class="divider"></div>
            </div>
        </div>
          <div class="tab-content" *ngIf="fullDetail?.community_events.length">
            <div class="tab-pane active" >
                <div class="center slider sale-box">                    
                    <div *ngFor="let event of fullDetail?.community_events">
                        <a routerLink="/events/{{event.id}}">
                            <li class="width-fullnomarg">
                                <div class="box">
                                    <div class="date-box" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+linkedCommunity?.primary_color+' 0%, '+linkedCommunity?.secondary_color +' 100%)'}">
                                        <div class="date">
                                            <span>{{event.day}}</span>
                                            <span>{{event.month}}</span>
                                        </div>
                                    </div>
                                    <h5>Read more & RSVP.</h5>
                                </div>
                            </li>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="container">
             <div class="bot-but">
                <a href="#" data-toggle="modal" data-target="#mydays" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{fullDetail?.community_events.length}} open days</a>
            </div>
        </div>
        <!-- Tab panes -->

    </section>
    <!-- end of open day Section-->

    <!--Map section-->
    <section id="Location" #Location>
        <div class="community-location-map">
            <iframe [src]="'https://www.google.com/maps/embed/v1/place?key=AIzaSyDgocn8utrn5kblteaLLZ1-aLEZIl9aRok&q='+ linkedCommunity?.street_address | safe: 'resourceUrl'" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
           <div class="container">
                <!-- address details -->
                <div class="address-details">
                    <ul class="map-pin">
                        <li class="address">{{linkedCommunity?.street_address}}</li>
                        <a href="https://www.google.com/maps/dir//{{ linkedCommunity?.street_address }}" target="_blank"><li class="link">View directions</li></a>
                    </ul>
                </div>
                <!-- end of address details -->
           </div>
            
        </div>
    </section>
     <!-- end of map section-->

    <!-- nearby Section-->
    <section class="sale-at-Aspley padbot0 margbot80" #activities [hidden]= "!fullDetail?.near_bys.length">
        <div class="container">
            <div class="card">
                <h2 class="heading">What's nearby?</h2>
                <div class="divider"></div>
            </div>
        </div>
          <div class="tab-content">
            <div class="tab-pane active" >
                <div class="center slider sale-box">                    
                    <div *ngFor="let nby of fullDetail?.near_bys">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <img src="{{nby.image.url}}" alt="">
                                </div>
                                <h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{nby.name}}</h4>
                                <p>{{nby.distance}}</p>                             
                            </div>

                        </li>
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="container">
             <div class="bot-but">
                <a href="#" data-toggle="modal" data-target="#mynearby"  (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{fullDetail?.near_bys.length}} things to do around here</a>
            </div>
        </div>
        <!-- Tab panes -->

    </section>
    <!-- end of nearby Section-->

    <!-- CTA section-->
    <section class="leaving-at-aspley" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+linkedCommunity?.primary_color+' 0%, '+linkedCommunity?.secondary_color +' 100%)'}">
        <div class="container">
            <h2>Let’s chat about {{home_detail?.address}} and see if it’s right for you.</h2>
            <img [src]="linkedCommunity?.salesperson_image?.url" alt="">
            <span>Talk to {{linkedCommunity?.salesperson_name}} now on {{linkedCommunity?.phone}}</span>
            <div class="buttons sc" *ngIf="fullDetail?.community_info_pack?.info_pdf?.url">
                <a *ngIf="fullDetail?.community_info_pack.info_pdf.url" data-toggle="modal" data-target="#get-an-info-pack-modal" class="ods-btn" [ngStyle]="{'color': linkedCommunity?.primary_color}">Get an info pack</a> 
                <a (mouseover)="onfb($event)" (mouseout)="onfb($event)"
                *ngIf="fullDetail?.facebook_links.length" href='{{fullDetail?.facebook_links[0].link}}' target="_blank" class="trans-btn">Join Us on facebook</a>
            </div>
        </div>
    </section>
    <!-- end CTA section-->

    <!-- 
    // All modal components below //
    -->

    <!-- Get an info pack Modal -->
    <div class="modal common-modal fade" id="get-an-info-pack-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body no-pad">
                     <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)">&times;</button>
                    <div class="col-sm-5 col-md-5 right-img-main no-pad hidden-xs hidden-sm">
                        <div class="right-img-full" [ngStyle]="{'background-image': 'url(' + linkedCommunity?.featured_image.url + ')','background-repeat': 'no-repeat','background-position': 'center'}"></div>
                    </div>
                    <div class="col-sm-12 col-md-7 getinfowp">
                   
                        <div class="wp-main">
                         <h3 [ngStyle]="{'color': linkedCommunity?.primary_color}">
                            <div class="title-img-round">
                                <img [src]="linkedCommunity?.community_icon.url" alt="" class="">    
                            </div>
                            Get an info pack
                         </h3>
                         <div class="profile-row">
                            <div class="profile-img"><img [src]="linkedCommunity?.salesperson_image?.url" alt=""></div> 
                            <p><strong> {{linkedCommunity?.salesperson_name}}</strong> | {{linkedCommunity?.phone}} | {{linkedCommunity?.email}}</p>
                         </div>
                         <div class="divider"></div>
<!--                         <div class="form-getinfo-succes">
                            <div class="row">
                            <div class="col-sm-2"><img src="images/form-sucess.png" alt=""></div>    
                            <div class="col-sm-10"><p class="pera-textbig"> Thank you for your enquiry. We've emailed you the info pack. You can view it by clicking the button below.</p>
                            <button (click)="infoPdf(fullDetail?.community_info_pack?.info_pdf?.url)" 
                            (mouseover)="changeInfoColor($event)" 
                        (mouseout)="changeInfoColor($event)" class="btn btn-org" [ngStyle]="{'background-color': linkedCommunity?.primary_color,'border-color':linkedCommunity?.primary_color}">View the info pack Now</button></div>
                            </div>
                        </div> -->
                         <div class="form-wp-getinfo">
                             <div class="row">
                                <!-- form starts here-->
                                <form #infoForm="ngForm" novalidate>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.firstname" 
                                           class="form-control" placeholder = "First name*" name="firstname" type="text" #firstname="ngModel" 
                                           [ngClass]="{'red-border-class': firstname.invalid && submitted == true }" required> 
                                           <p class="requiedred" [hidden]="firstname.valid || submitted == false">
                                            Please Enter First name
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.lastname" 
                                           class="form-control" placeholder = "Last name*" name="lastname" type="text" #lastname="ngModel" [ngClass]="{'red-border-class': lastname.invalid && submitted == true }" required>
                                           <p class="requiedred" [hidden]="lastname.valid || submitted == false">
                                            Please Enter Last name
                                        </p>   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.plan" 
                                           class="form-control" placeholder ="When are you planning on buying?" name="plan" type="text" #plan="ngModel">   
                                        </div>
                                    </div>  
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.phone" 
                                           class="form-control" placeholder = "Phone" name="phone" type="tel" #phone="ngModel">   
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.email" 
                                           class="form-control" placeholder = "Email*" name="email" type="email" #email="ngModel" [ngClass]="{'red-border-class': email.invalid && submitted == true }" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>  
                                           <p class="requiedred" [hidden]="email.valid || submitted == false">
                                            Please Enter your email
                                            </p> 
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <textarea [(ngModel)]="info.area" 
                                           class="form-control" placeholder="Anything else you'd like to tell us?" name="area" type="text" #area="ngModel" rows="7" ></textarea>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                    <button 
                                    (mouseover)="changeInfoColor($event)" 
                                    (mouseout)="changeInfoColor($event)" 
                                    [ngStyle]="{'background-color': linkedCommunity?.primary_color,'border-color': linkedCommunity?.primary_color}" class="btn btn-org"  id="send-sucess"
                                     (click)="getInfo(infoForm)" type="submit">Get an info pack</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--end  Get an info pack Modal -->



    <!-- Modal all 28 homes-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)">&times;</button>
                    <section class="sale-at-Aspley">
                        <div class="container">
                            <div class="card">
                                <h2 class="heading mgtm20">Other homes in this community</h2>
                                <ul class="nav nav-tabs right-tab right-sidetab" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#model-All-homes" aria-controls="All-homes" role="tab" data-toggle="tab" [ngStyle]="{'color': linkedCommunity?.primary_color}">All homes<div [ngStyle]="{'background': linkedCommunity?.primary_color}" class="bottom-line"></div></a>
                                    </li>
                                    <li role="presentation" *ngIf="newHomes?.length">
                                        <a href="#model-New-Homes" aria-controls="New-Homes" role="tab" data-toggle="tab" (mouseover)="after($event)" 
                                        (mouseout)="after($event)">New Homes<div style= "background: none" class="bottom-line"></div></a>
                                    </li>
                                    <li role="presentation" *ngIf="preLoved?.length">
                                        <a href="#model-Pre-loved-homes" aria-controls="Pre-loved-homes" role="tab" data-toggle="tab" (mouseover)="after($event)" 
                                        (mouseout)="after($event)">Pre-loved homes<div style= "background: none" class="bottom-line"></div></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="model-All-homes">
                                    <div class="sale-box">
                                        <li *ngFor="let home of fullDetail?.other_homes">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href="/homes-for-sale/{{home.id}}"><img *ngIf="home?.images?.length" 
                                                    [src]="home.images[0]" alt=""></a>
                                                </div>
                                                <a href="/homes-for-sale/{{home.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{home.address}}</h4></a>
                                                <a *ngIf="home?.list_price" href="/homes-for-sale/{{home.id}}"><p>${{home.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="model-New-Homes" *ngIf="newHomes?.length">
                                    <ul class="sale-box">
                                        <li *ngFor="let new of newHomes">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href="/homes-for-sale/{{new.id}}"><img *ngIf="new?.images?.length" [src]="new.images[0]" alt=""></a>
                                                </div>
                                                <a href="/homes-for-sale/{{new.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{new.address}}</h4></a>
                                                 <a *ngIf="new?.list_price" href="/homes-for-sale/{{new.id}}"><p>${{new.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="model-Pre-loved-homes" *ngIf="preLoved?.length">
                                    <ul class="sale-box">
                                        <li *ngFor="let loved of preLoved">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href="/homes-for-sale/{{loved.id}}"><img *ngIf="loved?.images?.length" 
                                                    [src]="loved.images[0]" alt=""></a>
                                                </div>
                                                <a href="/homes-for-sale/{{loved.id}}"><h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{loved.address}}</h4></a>
                                                <a *ngIf="loved?.list_price" href="/homes-for-sale/{{loved.id}}"><p>${{loved.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>
    </div>
    <!--end Modal all 28 homes -->

    <!-- Modal facilities-->
    <div class="modal fade" id="myfaci" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)">&times;</button>
                    <section class="sale-at-Aspley">
                        <div class="container">
                            <div class="card">
                                <h2 class="heading">Community facilities</h2>
                                <div class="divider"></div>
                                <p class="text-fac">You'll never want to leave the grounds with the facilities available at {{linkedCommunity?.first_name}}!</p>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- content -->
                                <div class="sale-box">
                                    <li *ngFor="let community_facility of fullDetail?.community_facilities">
                                        <div class="img-show-box">
                                            <div class="homefor-sale-box-img">
                                            <img [src]="community_facility.image.url" alt="">
                                            </div>
                                            <h4 class="marg-tb" [ngStyle]="{'color': linkedCommunity?.primary_color}">{{community_facility.name}}</h4>
                                        </div>
                                    </li>
                                </div>
                                <!-- end of content -->
                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>
    </div>
    <!--end Modal facilities-->

    <!-- Modal open days-->
    <div class="modal fade" id="mydays" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)">&times;</button>
                    <section class="sale-at-Aspley">
                        <div class="container">
                            <div class="card">
                                <h2 class="heading">{{fullDetail?.community_events.length}} Planned open days</h2>
                                <div class="divider"></div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- content -->
                                <div class="sale-box">
                                    <!-- first in order -->
                                    <a routerLink="/events/{{event.id}}" *ngFor="let event of fullDetail?.community_events" data-dismiss="modal">
                                        <li class="width-fullnomarg">
                                            <div class="box">
                                                <div class="date-box"  [ngStyle]="{'background': '-webkit-linear-gradient(left, '+linkedCommunity?.primary_color+' 0%, '+linkedCommunity.secondary_color +' 100%)'}">
                                                    <div class="date">
                                                        <span>{{event.day}}</span>
                                                        <span>{{event.month}}</span>
                                                    </div>
                                                </div>
                                                <h5>Read more & RSVP.</h5>
                                            </div>
                                        </li>
                                    </a>
                                </div>
                                <!-- end of content -->
                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>
    </div>
    <!--end Modal open days-->

    <!-- what's nearby modal-->
    <div class="modal fade" id="mynearby" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)">&times;</button>
                    <section class="sale-at-Aspley">
                        <div class="container">
                            <div class="card">
                                <h2 class="heading">What's nearby?</h2>
                                <div class="divider"></div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- content -->
                                <div class="sale-box">
                                    <li *ngFor="let nearbys of fullDetail?.near_bys">
                                        <div class="img-show-box">
                                            <div class="homefor-sale-box-img">
                                            <img [src]="nearbys.image.url" alt="">
                                            </div>
                                            <h4 [ngStyle]="{'color': linkedCommunity?.primary_color}">{{nearbys.name}}</h4>
                                            <p>{{nearbys.distance}}</p>
                                        </div>
                                    </li>
                                </div>
                                <!-- end of content -->
                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>
    </div>
    <!--end what's nearby -->