    <!-- Header width bg - fixed version -->
    <section class="hfsl-banner event-listing-hero test-class" [ngStyle]="{'background-image': 'url(' + bgimg + ')','background-repeat': 'no-repeat','background-position': 'center'}">
        <div class="overlay"></div>
        <div class="context">
            <div class="container">
                 <h2>{{howwork.heroHeading}}</h2>
                 <p class="about-hero-text">{{howwork.heroText}}</p>
            </div>
        </div>

    </section>
    <!-- Header width bg - fixed version end -->

    <!-- how it works section - fixed version -->
    <section class="about-top-sec image-with-text-home padbot0">
        <div class="container">
            <div class="row-first">
                <div class="img-box"><img src="{{startedimg1}}" alt=""></div>
                <div class="content-box">
                    <h3>{{started1.showcaseImageTitleText1}}</h3>
                    <p>{{started1.showcaseImageTitleDescription}} </p>
                    
                </div>
            </div>
            <div class="row-first row-second">
                
                <div class="img-box"><img src="{{startedimg2}}" alt=""></div>
                <div class="content-box">
                    
                    <h3>{{started1.showcaseTitle2}}</h3>
                    <p>{{started1.showcaseDescription2}} </p>
                    
                </div>
                
            </div>
            <div class="row-first">
                
                <div class="img-box"><img src="{{startedimg3}}" alt=""></div>
                <div class="content-box">
                    
                    <h3>{{started1.showcaseTitle3}}</h3>
                    <p>{{started1.showcaseDescription3}} <p>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- how it works section - fixed version end -->
	
	
	<!--our values section - fixed version-->
    <section class="our-values-warp">
        <div class="container">
            <h2>{{values.ourValueHeading}}</h2>
            <ul>
               <li>
                 <div class="img-box"><img src="{{image1}}" alt=""></div>
                 <h4>{{values.title1}}</h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image2}}" alt=""></div>
             <h4>{{values.title2}}</h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image3}}" alt=""></div>
                 <h4>{{values.title3}} </h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image4}}" alt=""></div>
                 <h4>{{values.title4}}</h4>  
               </li> 
               <!--li>
                 <div class="img-box"><img src="{{image5}}" alt=""></div>
                 <h4>{{values.title5}}</h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image6}}" alt=""></div>
                 <h4>{{values.title6}}</h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image7}}" alt=""></div>
                 <h4>{{values.title7}}</h4>  
               </li>
               <li>
                 <div class="img-box"><img src="{{image8}}" alt=""></div>
                 <h4>{{values.title8}} </h4>  
               </li--> 
            </ul>
        </div>
    </section>
    <!--our values section - fixed version end-->
	
	


    <!--  Discover more section - fixed version -->
    <section class="discover-whole">
        <div class="container">
            <div class="row">
                <div class="lefcol">
                    <div class="box-t">
                        <h3>{{discover.discoverHeadingBlueBlock}}</h3>
                        <p>{{discover.discoverMoreDescription}}</p>
                    </div>
                    <div class="box-video-sm">
                        <a href="javascript:void(0)" class="js-modal-btn" [attr.data-video-id]="discover.smallVideoBlock1YoutubeLinkId">
                            <div class="box-video-img"><img src="{{videoimage3}}" alt=""></div>
                            <div class="box-text">
                                <h3>{{discover.smallVideoBlock1Text}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="box-video-sm">
                        <a href="javascript:void(0)" class="js-modal-btn" [attr.data-video-id]="discover.smallVideoBlock2YoutubeLinkId">
                            <div class="box-video-img"><img src="{{videoimage4}}" alt=""></div>
                            <div class="box-text">
                                <h3>{{discover.smallVideoBlock2Text}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="rigcol">
                    <div class="box-video-sm">
                        <a href="javascript:void(0)" class="js-modal-btn" [attr.data-video-id]="discover.largeVideoBlock1YoutubeLinkId">
                            <div class="box-video-img"><img src="{{videoimage1}}" alt=""></div>
                            <div class="box-text">
                                 <h3>{{discover.largeVideoBlock1Quote}}</h3>
                                <span>{{discover.largeVideoBlock1Name}}</span>
                            </div>
                        </a>
                    </div>
                    <div class="box-video-sm">
                        <a href="javascript:void(0)" class="js-modal-btn" [attr.data-video-id]="discover.largeVideoBlock2YoutubeLinkId">
                            <div class="box-video-img"><img src="{{videoimage2}}" alt=""></div>
                            <div class="box-text">
                                <h3>{{discover.largeVideoBlock2Quote}}</h3>
                                <span>{{discover.largeVideoBlock2Name}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Discover more section - fixed version end -->



    <!-- start CTA block - fixed version -->
    <section class="cta-block">
        <div class="container">
            <h2 class="whithead">Let's discuss what you're looking for. Call <a href="tel:1300361311">1300 361 311</a> or:</h2>
            <div class="buttons four-button-main">
                <a href="/enquire-now" class="make-enquiry-main comman-cta-four">
                     <img src="../images/mail-white.png">
                  <span>Make an enquiry</span>
                </a>
                <a href="/enquire-now" class="get-call-main comman-cta-four">
                  <img src="../images/call-back-white.png">
                  <span>Get a call back</span>
                </a>
                <a href="/arrange-inspection" class="arrange-inspection-main comman-cta-four">
                  <img src="../images/inspection-white.png">
                  <span>Arrange inspectiony</span>
                </a>
                <a href="#" class="get-info-main comman-cta-four" data-toggle="modal" data-target="#get-an-info-pack-modal-static">
                  <img src="../images/pdf-white.png">
                  <span>Get an info pack</span>
                </a>
            </div>
        </div>
    </section>
    <!-- start CTA block - fixed version -->
<!-- Get an info pack Modal -->
  <div class="modal fade" id="get-an-info-pack-modal-static" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body no-pad">
                     <button type="button" class="close" data-dismiss="modal"  (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)" >&times;</button>
                    <div class="col-sm-5 col-md-5 right-img-main no-pad hidden-xs hidden-sm">
                        <div class="right-img-full">
                            <div class="right-img-full" style="background: url(images/generic-info.jpg) no-repeat center;"></div>
                            <!--  <img 
                             [src]="comunitylatestDetail.featured_image.url" alt="" style= 
                             "height: -webkit-fill-available;"> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 getinfowp">
                   
                        <div class="wp-main">
                         <h3 style="color: #105dac;">
                            <div class="title-img-round">
                                <img src="images/Gateway-icon-only-square.png" alt="" class="">    
                            </div>
                            Get an info pack
                         </h3>
                         <!-- <div class="profile-row">
                            <div class="profile-img"><img src="images/img11.png" alt=""></div> 
                            <p><strong> Melinda James</strong> | +61 421 223 221 | melinda.james@gty.com.au</p>
                         </div> -->
                         <div class="divider"></div>
<!--                         <div class="form-getinfo-succes">
                            <div class="row">
                            <div class="col-sm-2"><img src="images/form-sucess.png" alt=""></div>    
                            <div class="col-sm-10"><p class="pera-textbig"> Thank you for your enquiry. We've emailed you the info pack. You can view it by clicking the button below.</p>
                            <button (click)="infoPdf(genericInfo.info_pack?.info_pdf.url)" 
                             class="btn btn-org">View the info pack Now</button></div>
                            </div>
                        </div> -->
                         <div class="form-wp-getinfo">
                             <div class="row">
                                <!-- form starts here-->
                                <form #infoForm="ngForm" novalidate>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.firstname" 
                                           class="form-control" placeholder = "First name*" name="firstname" type="text" #firstname="ngModel" 
                                           [ngClass]="{'red-border-class': firstname.invalid && submitted == true }" required> 
                                           <p class="requiedred" [hidden]="firstname.valid || submitted == false">
                                            Please Enter First name
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.lastname" 
                                           class="form-control" placeholder = "Last name*" name="lastname" type="text" #lastname="ngModel" 
                                           [ngClass]="{'red-border-class': lastname.invalid && submitted == true }" required>
                                           <p class="requiedred" [hidden]="lastname.valid || submitted == false">
                                            Please Enter Last name
                                        </p>   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.plan" 
                                           class="form-control" placeholder ="When are you planning on buying?" name="plan" type="text" #plan="ngModel">   
                                        </div>
                                    </div>  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.phone" 
                                           class="form-control" placeholder = "Phone" name="phone" type="tel" #phone="ngModel">   
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.email" 
                                           class="form-control" placeholder = "Email*" name="email" type="email" #email="ngModel" [ngClass]="{'red-border-class': email.invalid && submitted == true }" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>  
                                           <p class="requiedred" [hidden]="email.valid || submitted == false">
                                            Please Enter your email
                                            </p> 
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <textarea [(ngModel)]="info.area" 
                                           class="form-control" placeholder="Anything else you'd like to tell us?" name="area" type="text" #area="ngModel" rows="7" ></textarea>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                    <button  class="btn btn-org"  id="send-sucess"
                                     (click)="getInfo(infoForm)" style="background: #105dac; border-color:#105dac;" 
                                    (mouseover)="changeColor($event)" 
                                    (mouseout)="changeColor($event)" type="submit">Get an info pack</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--end  Get an info pack Modal -->
 