    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3 col-md-3">
                        <a href="#"><img src="images/logo-footer.png" class="footer" alt=""></a>
                    </div>
                    <div class="col-sm-9">
                        <ul class="firstwp">
                            <li><a routerLink="/homes-for-sale">{{counts?.home_count}} homes for sale across Australia</a></li>
                            <li><a routerLink="/communities">{{counts?.community_count}} communities across Australia</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                         <div class="divider"></div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3 hidden-xs">
                        <a href="https://www.youtube.com/channel/UCjGfwIYWUHULZwRtgAMOaVg/videos?sort=p&view=0&flow=grid" target="_blank"><img src="images/youtube.png" class="footer-icon " alt=""></a>
                        <a href="https://www.facebook.com/gatewaylifestyle" target="_blank"><img src="images/fb-footer.png" class="footer-icon " alt=""></a>
                    </div>
                    <div class="col-sm-9">
                        <ul>
                            <li><a routerLink="/how-it-works">How it works</a></li>
                            <li><a routerLink="/about">About Gateway</a></li>
                            <li><a href="https://live.gatewaylifestyle.com.au/" target="_blank">Blog</a></li>
                            <li><a routerLink="/privacy">Privacy</a></li>
                            <li><a routerLink="/legal">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 des-hide">
                        <a href="#"><img class="footer-icon" src="images/youtube.png" alt=""></a>
                        <a href="#"><img class="footer-icon" src="images/fb-footer.png" alt=""></a> 
                    </div>
                </div>

            </div>
        </div>
    </footer>
