<!--  Fixed Mega menu -->
    <header class="nav-v4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-sm-12 col-xs-12 logo-outer">
                    <div class="logo">
                        <a href="index.html"><img width="215" src="images/gateway-inverse.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12 col-sm-12 col-xs-12">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" id="resbtn-show">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="topmenu-v4">
                                <li><a href="faq-final.html">FAQs</a></li>
                                <li><a href="event-listing-page-final.html">Events</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Holiday parks</a></li>
                                <li><a href="#">Contact us</a></li>                         
                                <li class="get-an-info-btn"><a class="btn-blue" href="get-in-touch-final.html">GET INFO PACK</a></li>                         
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="bold-menu"><a routerLink="/homes-for-sale">Homes for sale</a></li>
                                <li class="bold-menu"><a routerLink="/communities">Communities</a></li>
                                <li class="bold-menu"><a routerLink="/how-it-works">How it works</a></li>
                                <li class="bold-menu" class="desktop-none"><a routerLink="/about">About us</a></li>
                                <li id="top-menu" class="desktop-none"><a routerLink="/enquire-now">Contact</a></li>
                                <li id="top-menu1" class="desktop-none"><a href="http://investor.gatewaylifestyle.com.au/Investor-Centre/" target="blank">Investors</a></li>
                                <li class="desktop-none"><a href="http://glhp.com.au/">Holiday parks</a></li>
                                <li class="bold-menu dropdown mega-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-chevron-down"></i></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div class="container width970">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <a routerLink="/home-designs" class="img-box-hover">
                                                        <div class="img-box">
                                                            <img src="images/menu-img1.jpg" alt="">
                                                            <h2>Explore our designs</h2>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="img-box-hover">    
                                                        <div class="img-box">
                                                             <img src="images/menu-img6.png" alt="">
                                                            <h2>Frequently asked questions</h2>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h3 class="menuheading3">Living at Gateway</h3>
                                                    <ul>
                                                        <li><a routerLink="/pre-loved">Pre-loved homes</a></li>
                                                        <li><a routerLink="/team">Our team</a></li>
                                                        <li><a routerLink="/careers">Careers</a></li>
                                                        <li><a routerLink="/events">Open days</a></li>
                                                        <li><a routerLink="/resident-stories">Resident stories</a></li>
                                                        <li class="blog-link"><a href="http://live.gatewaylifestyle.com.au/" target="_blank">Latest news</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 in">
                                                    <h3 class="menuheading3 last-title">Get more info</h3>
                                                    <p>Discover a rich, fulfilling over 50s lifestyle in our communities across NSW, QLD adn VIC with hundreds of new and pre loved homes.</p>
                                                     <a data-toggle="modal" data-target="#get-an-info-pack-modal-header"><button class="btn" id="getin">GET AN INFO PACK</button></a>
                                                    <div class="bot-ml">
                                                        <a href="mailto:sales@gty.com.au"><i class="fa fa-envelope"></i> sales@gty.com.au</a>
                                                        <a href="tel:1300 361 311"><i class="fa fa-phone"></i> 1300 361 311</a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="last-child bold-menu"><a href="tel:1300  361 311">1300  361 311</a></li>
                                <div class="bottom-section-mb">
                                    <div class="bot-ml">
                                        <a href="mailto:sales@gty.com.au"><i class="fa fa-envelope"></i> sales@gty.com.au</a>
                                        <a href="tel:1300 361 311"><i class="fa fa-phone"></i> 1300 361 311</a>
                                    </div>
                                     <a data-toggle="modal" data-target="#get-an-info-pack-modal-header"><button class="btn" id="getin2">GET AN INFO PACK</button></a>
                                </div>
                            </ul>

                        </div>
                        <!--/.nav-collapse -->
                    </nav>
                    <div class="search-wp">
                        <i class="search-icon" id="show-search-btn"></i>
                        <div class="searchform" id="show-sw">
                            <form id="search">
                                <i class="search-icon ico2"></i>
                                <input #box type="text" class="s" id="s" placeholder="Start typing here..." (keyup.enter)="searchHeader(box.value,$event)">
                                <a href="#" id="close" class="close"><i class="fa fa-times"></i></a>
                                <div class="search-container">
                                    <div class="col-sm-4">
                                        <h3 class="search-mhead">New Homes For Sale   <a routerLink="/homes-for-sale" (click)= "closeSearch()">More</a></h3>
                                        <ul class="search-box">
                                            <li><span><img src="images/search1.png" alt=""> </span>304/25 Mulloway Road, Chain Valley Bay, Central Coast</li>
                                            <li><span><img src="images/search2.png" alt=""> </span>304/25 Mulloway Road, Chain Valley Bay, Central Coast</li>
                                            <li><span><img src="images/search3.png" alt=""> </span>304/25 Mulloway Road, Chain Valley Bay, Central Coast</li>
                                            <li><span><img src="images/search4.png" alt=""> </span>304/25 Mulloway Road, Chain Valley Bay, Central Coast</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3 class="search-mhead">Communities   <a outerLink="/communities" (click)= "closeSearch()">More</a></h3>
                                        <ul class="search-box">
                                            <li><span class="community"><img src="images/search5.png" alt=""> </span>Aspley by Gateway Lifestyle</li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h3 class="search-mhead">Events   <a routerLink="/events" (click)= "closeSearch()">More</a></h3>
                                        <ul class="event-search">
                                            <li>
                                                <div class="event-search-box">
                                                    <span>15</span>
                                                    <span>June</span>
                                                </div>
                                                <p><strong>Aspley open day</strong></p>
                                                <p> 25 Mulloway Road, Chain Valley Bay, Central Cost</p>
                                            </li>
                                            <li>
                                                <div class="event-search-box">
                                                    <span>12</span>
                                                    <span>Aug</span>
                                                </div>
                                                <p><strong>Aspley open day</strong></p>
                                                <p> 25 Mulloway Road, Chain Valley Bay, Central Cost</p>
                                            </li>
                                            <li>
                                                <div class="event-search-box">
                                                    <span>27</span>
                                                    <span>Sep</span>
                                                </div>
                                                <p><strong>Aspley open day</strong></p>
                                                <p> 25 Mulloway Road, Chain Valley Bay, Central Cost</p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--  Fixed Mega menu end -->