
@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham_medium_regular-webfont.woff2') format('woff2'),
         url('../fonts/gotham_medium_regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

} 
@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gotham-Book.otf')  format('opentype'),
  url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), 
  url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

body, ol, ul{padding: 0; margin: 0}

body {
    font-family: "Gotham", helvetica, "sans-serif";
}





/*====Tab css======*/



.nav-tabs > li > a {color: #414952;     font-weight: normal !important;
    z-index: 9;
    line-height: 1.42857143;
    padding: 0 0px 10px 0; margin-right:10px; margin-left: 10px;
    display: inline-block; position: relative; text-decoration: none; }
    .nav.nav-tabs.right-tab.right-sidetab li:last-child a{margin-right: 0}
.nav-tabs > li > a.active {color: #f89923 ; text-decoration: none; }

.nav-tabs li:first-child a
{   margin-left: 0px;   
}

/*.nav-tabs > li > a::after { content: ""; background: #f89923; height: 2px; position: absolute; width: 100%; left: 0px;
 bottom: 0px; transition: all 250ms ease 0s; transform: scale(0); }*/
.nav-tabs > li {
    margin-bottom:0px;
}







.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #F89923;
    cursor: default;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    color: #F89923;
}

.tab-pane { padding: 15px 0; }
.tab-content{padding:20px 0}
.nav.nav-tabs.right-tab.pull-right{display: inline-block; width: 100%}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow:none; margin-bottom: 30px; border:0; display: inline; border-radius: 0 }

.bluelogo a{color: #003C6B}

.slider-wrap {
    .slider { height:250px; position:relative; }
    .outer { position:relative; }
    .outer, .tray, section { height:100%; }
    .tray, section { position:absolute; width:100%; height:100%; }
    section { 
      background:rgba(#000,0.2); overflow:hidden;
    img { width:100%; max-width:100%; }
    }
    .arrow {
        position:absolute; top:50%; margin-top:-30px; height:60px; width:60px; z-index:1; cursor:pointer; z-index:15; background-color:black; 
        &.left {
      right:-30px; background-image:url(https://www.garethweaver.com/codepen/images/bbc-left.png);
      span { left:60px; padding:0 20px 0 0; }
    }
        &.right {
      left:-30px; background-image:url(https://www.garethweaver.com/codepen/images/bbc-right.png);
      span { right:60px; padding:0 0 0 20px;  }
    }
    span { height:60px; line-height:60px; background:$blue; position:absolute; display:none; color:#fff;}
    &:hover {
      background-color:$blue;
      span { display:block; }
    }
    }
    .mask {
        display:block; position:absolute; top:0; height:100%; width:200%; background:rgba(#fff,0.7); z-index:10; cursor:pointer;
        &.left { right:100%; }
        &.right { left:100%; }
    }
    .slider-nav { 
        position:relative; font-size:14px; text-align:center; margin:15px 0 0; overflow:hidden;
        ul { position:relative; margin:0; padding:0; }
        li {
            float:left; width:25%; box-sizing:border-box;
            &.current a { color:$blue; }
      
      a {
        @include transition(color 0.2s ease-in-out); height:60px; line-height:60px; border-top:4px solid $grey; display:block; font-weight:bold; margin:0 4px;
        &:hover { color:$blue; }
       }
      
        }
        .highlight { position:absolute; margin:0 4px; top:0; left:0; width:24%; box-sizing:border-box; border-top:4px solid $blue; }
    }
    
}
/*===============sale homes==============*/



.open-days li .box:hover {box-shadow: 0 0 20px 0 rgba(64, 64, 64, 0.5)}


.right-tab{text-align: right;}
.right-tab li{
    float: none;
    display: inline-block;
}

.heading-orang{
        color: #f9ac32;
    font-size: 36px;
    margin: 0;
    line-height: 43px;
        font-weight: normal !important;
}


.nav-tabs.right-sidetab  > li > a{padding: 0 0px 15px 0px}

.w642{width: 642px}

.mgtm20{
    margin-top: -20px;
}
.mgtm10{
    margin-top: -10px;
}
section{
    padding: 45px 0;
    position: relative;
        float: left;
    width: 100%;
}
.why-live-here .slider{
    margin: 0;
    background: #F9F9F9;
    position: relative;
}
.slider .carousel {position: static;}
.slider .carousel-control {
    background-image: none;
    width: 24px;
    font-size: 20px;
    color: #444;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
}
.slider .carousel-control.right {right: 22px;}
.slider .carousel-control.left {left: 22px;}

.slider .carousel-inner > .item h2 { margin: 85px 0 35px 0;}
.slider .carousel-inner {padding-bottom: 75px;}



.modern-facilities{
    padding: 55px 0;
    background: #f9f9f9;
    text-align: left;
}
.modern-facilities h2{
    margin-bottom: 25px;
}
.pad-b0{
    padding-bottom: 0;
}


.bot-but{
    float: left;
    width: 100%;
    margin: -7px  0 25px 0;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.bot-but a{
    color: #414952;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.leaving-at-aspley .buttons .ods-btn:last-child:hover{color: #000}
.bot-but a i.icon{
    width: 29px; height: 29px; margin-right: 10px; float: left; background: url(../images/left-link-icon.png);
    transition: all 0.5s;
}
.bot-but a:hover{
    color: #f9ac32;
    }
.bot-but a:hover i.icon{
    /*background: url(../images/left-link-icon-hover.png);*/
}

.rg-t{color: #3d3e3c;     margin-bottom: 20px;}
.rg-t h4{
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}
.rg-t ul li {
    border-bottom: 1px solid #abaaaa;
    padding: 5px 0;
}
.rg-t ul li:last-child{border-bottom: 0;}
.rg-t ul li .bg-color{ width: 12px; height: 12px; float: left; margin: 5px 10px 0 0}
.rg-t ul li .bg-color.f{background: #71c8de}
.rg-t ul li .bg-color.s{background: #ec9234}
.rg-t ul li .numbering {
    width: 20px;
    height: 20px;
    float: left;
    background: #333433;
    color: #fff;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
    padding: 2px;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 10px;
}


.planned-open-days{margin-top: 35px;}

.text-fac{
    color: #414952;
    font-size: 18px;
    display: inline-block;
    margin: 0px 0 25px 0;
        font-weight: normal;
}
.community-facilities{margin-top: 30px; }




.marg-tb
{   margin: 14px 0 !important;
}
©
.open-days li{   
    display: inline-block;
    list-style: none;
    width: 28%;
    margin-right: 41px;
    margin-bottom: 41px;
    margin-top: 41px;
    float: left;
}
.open-days li:nth-child(3n){
    margin-right: 0;
}





.open-days li .box .date-box span{
    display: block;
    line-height: 50px;
}
.open-days li .box h5{
    display: inline-block;
    width: 100%;
    margin: 25px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #414952;
    text-decoration: underline;
    font-weight: normal;
}
.open-days li .box h5 a{color: #414952; text-decoration: underline;     font-weight: normal;}







#slider1 ul li.active{border: 2px solid #105DAC;}
#slider1 .buttons {
    display: none !important;
}

.wtext{color: #fff !important;}









/*--------search top*/
.navbar .search-form {
    float:right;
    margin:0;
    padding:0;
    margin-top: 10px;
    
    .input-group {
        display:block;
        padding-right:30px;
        width:30px;
        overflow:hidden;
        border-left:2px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    &.open .input-group {
        border-left:2px solid #5F5F5F;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .form-control,
    .form-control:focus {
        /*color:#fff;*/
        height: 30px;
        padding: 6px 12px 0;
        border-radius:0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 16px;
        background-color: transparent;
        border-color: transparent;
    }
    .input-group-btn {
        display:block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height:30px;
        z-index: 2;
        
        .icon {
            position:relative;
            bottom:-3px;
            left: -1px;
            font-size:16px;
        }
    }
    .btn {
        padding:5px 8px;
        border-radius:0;
        /*color:#fff;*/
        background-color: transparent;
        border: 1px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .btn:active,
    .btn:hover,
    .btn:focus,
    &.open .btn {
        color:#fff;
        background-color: #5F5F5F;
        border: 1px solid #5F5F5F;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        outline: none;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0;
    }
    &.open .input-group {   
        width:145px;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }
} 



.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
/*.nav-tabs > li {
    margin-bottom: -3px;
}*/

.search-wp button.sbtn {
        background: #f9ac32;
    color: #fff;
    border: 0;
    font-size: 15px;
    float: right;
    line-height: 24px;
    text-transform: uppercase;
    padding: 5px 11px;
}


/*------------------start listing -------------*/
.community-listing li {
    display: inline-block;
    margin-right: 11px;
    border-radius: 5px;
    box-shadow: 0 0 6px #ccc;
    overflow: hidden;
    text-align: center;
    float: left;
}
.community-listing li:last-child{
    margin-right: 0;
}
.community-listing li  img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.community-listing li figcaption {
    padding: 5px 10px;
}
.community-listing li a{
    color: #004b86;
    text-decoration: none;
}
.listing-bottom-warp .buttons-section .btn {
    display: inline-block;
    padding: 3px 20px;
    font-size: 14px;
    background-color: #ffffff;
    color: #9da9b5;
    box-shadow: 0 0 5px #dedede;
    margin:0 18px 0 0;
    transition: all 0.5s;
    border: 1px solid transparent;
}
.listing-bottom-warp .buttons-section .btn:hover{
     border: 1px solid #003c6b;
    box-sizing: border-box;
    color: #003c6b;
}
.listing-bottom-warp .buttons-section .btn.active{
    border: 1px solid #003c6b;
    box-sizing: border-box;
    color: #003c6b;
    font-weight: 600;
}

.listing-bottom-warp .buttons-section .btn.no-eff{
    box-shadow: none;
    border: 0;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    text-decoration: underline;
    color: #505050;
}
.listing-bottom-warp{
    padding: 0;
}
.listing-bottom-warp .buttons-section{
    margin-bottom: 30px;
}
.listing-bottom-warp  .listing-boxes-main{
    border-top:1px solid #ccc;
}
.listing-bottom-warp  .listing-boxes-main .boxes .box{
    box-shadow: 0 0 5px #d8d8d8;
    border-radius: 5px;
    overflow: hidden;
    min-height: 200px;
    margin-bottom: 30px;
}
.listing-boxes-main .col-sm-7{
    padding-top: 30px;
}
.width970{width: 970px}










/*------------------modelbox--------------*/

.modal .tab-content{min-height: 550px;}
.getinfowp{padding: 5%;}

.search-wp .s::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #003C6B;
}
.getinfowp .wp-main  .btn
.readmore-btn{
    color: #414952;
    font-size: 18px;
    line-height: 24px;
    transition: all 0.3s;
    text-decoration: none;
}
.readmore-btn:hover{
    color: #f89923;
    text-decoration: none;
}

.tp-w {margin-top: -16px;}
.tp-w h2{font-size: 26px;
    line-height: 32px;
    color: #4A535C;
    font-weight: bold;
    margin: 5px 0;}
.tp-w p{
    color: #414952;
    font-size: 18px;
    margin: 10px 0;
}

.iconwpservices{text-align: center; padding: 25px 0; border-bottom: 1px solid #E5E5E5;}
.iconwpservices li{display: inline-block; color: #414952; width: 110px;}
.iconwpservices li .icon{ background: url(../images/spreimg.png); width: 34px; height: 30px; 
    display: block; margin: 5px auto; position: relative; }
.iconwpservices li .icon.bath{background-position: -42px 0px}  
.iconwpservices li .icon.parking{background-position: -80px 0px}  
.iconwpservices li .icon:after{background:#979797; height: 25px; width: 1px; content: ''; position: absolute; left: 70px; top: 15px;} 
.iconwpservices li:last-child .icon:after{display: none}
.wbtn{background: #fff !important; color: #F89923 !important}
footer .container {width: 1007px;}

/*---------------start communities page-------------*/


.listing-map{ width: 100%; display: inline-block; margin-bottom: 103px; float: left; }
.lookingsomthing-warp .icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}
.lookingsomthing-warp .texts:focus{border:0;}

.lookingsomthing-warp .btn-top-right.disable {color: #a1acb8;  border: 1px solid #fff;}
::-webkit-input-placeholder {    color: #9DA9B5 !important;  }



.img-slider-warp{position: relative; margin-bottom: 47px;}


/** Custom Select **/
.sortinglisting .custom-select-wrapper span.ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all{display: none}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
    width:235px;
  }
    .custom-select-trigger {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    color: #9DA9B5;
    cursor: pointer;
    }
.custom-select-trigger strong{color: #9DA9B5}    
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; left:-20px;
        margin-top: -3px;
        border-bottom: 2px solid #9DA9B5;
        border-right: 2px solid #9DA9B5;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 10px 0;
    border: 1px solid #9DA9B5;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
          margin-bottom: -3px;
    border-top: 1px solid #9DA9B5;
    border-left: 1px solid #9DA9B5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      font-weight: 12px;
      padding: 5px;
      color: #9DA9B5;
      line-height: 22px;
      cursor: pointer;
      transition: all .4s ease-in-out;
      font-weight: 300;
    }
    
    
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }


   

/*-----------------Start Home page css----------------*/

.hol {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
    left: 0;
    height: 285px;
}
.hol:before{
    position: absolute;
    height: 100%;
    width: 7.8%;
    background: #f9f9f9;
    content: '';
    bottom: 0;
    left: 0;
}
.hol:after{
    position: absolute;
    height: 100%;
    width: 8%;
    background: #f9f9f9;
    content: '';
    bottom: 0;
    right: 0;
}




.blue-text{color: #003C6B}



.new-btn:hover{text-decoration: none;}
.afs-wp i {
    background: url(../images/spreimg.png);
    width: 26px;
    height: 22px;
    display: block;
    margin:0 5px 0 0;
    position: relative;
    float: left;
    background-size: 92px;
}
.afs-wp .tub{ background-position: -30px 0 }
.afs-wp .car{ background-position: -60px 0 }
.margt25{margin-bottom: 25px !important;}

.slick-arrow{display: none !important;}
.banner-res img{width: 100%;}
.banner-res .sm-imgba img{width: auto; }

.banner-res .ban-slider
{   position: relative;
}


.des-hide{display: none;}
.banner-res{display:none; width: 100%; float: left;}
.banner-res .sm-imgba{padding: 29px 21px; border-bottom: 1px solid #e5e5e5;}
/*.slider .carousel-inner > .item > img, .slider .carousel-inner > .item > iframe{ min-height: 688px;
    box-shadow: 0 0 20px 0 rgba(66, 66, 66, 0.8) }*/
/*----------Get in touch ------------------*/




.pad-l0{padding-left: 0}
.pad-r0{padding-right: 0}
.event-detail-topwarp .r-box {
    box-shadow: 0 0 20px 0 rgba(222,222,222,0.5);
    background: #fff;
    border-radius: 5px;
    padding: 74px 0 0 0;
    text-align: center;
}
.event-detail-topwarp .btn-org {
    background: #F89923;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: bold;
    padding: 9px;
    border: 2px solid #F89923;
}
.event-detail-topwarp .btn-org:hover {
    background: transparent;
    border: 2px solid #F89923;
    color: #F89923;
}
.event-detail-topwarp h2 {
    font-size: 48px;
    margin: 0;
    color: #F89923;
    font-weight: bold;
}


.event-detail-topwarp  p{padding-right: 15%}
.event-detail-topwarp .r-box span{
    line-height: 48px;
    font-size: 48px;
    font-weight: bold;
    display: block;
}
.event-detail-topwarp .r-box p {
    padding-right: 0;
    font-size: 18px;
}
.event-detail-topwarp .r-box .devider {margin: 75px 0;}
.event-detail-topwarp .r-box p.last{margin-bottom: 65px;}
:focus{outline: 0}
.modal .sale-at-Aspley {margin-top: 35px;}
.hfsl-banner img{width: 100%;}


.hfsl-banner .overlay{    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);}

.videogallery{padding: 115px 0 90px}
.videogallery .box-video-sm, .videogallery .box-video-md{margin-bottom: 25px;}
.videogallery .box-video-sm img, .videogallery .box-video-md img{width: 100%; cursor: pointer;}
.videogallery .lefcol  .box-t{
    background: #105DAC;
    color: #fff;
    padding: 30px 35px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(222,222,222,0.5);
    margin-bottom: 25px;
    min-height: 275px;
}
.videogallery .lefcol  .box-t h3 {
    margin: 0 0 15px 0;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
}
.videogallery .lefcol  .box-t p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
}
.video-wp-model {
    padding: 160px 40px;
    background: #282828;
}
.video-wp-model iframe{height: 700px}



.margbot0{margin-bottom: 0}
.carp-cl{font-weight: 300; margin: 25px 0 0 0 !important}
.masterplan-wp .textbox h3{    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: bold; color: #414952}
.masterplan-wp .textbox p{
    color: #62717F;
    font-size: 18px;
    line-height: 24px;
}
.masterplan-wp .textbox{
    float: left;
    width: 100%;
    margin-bottom: 20px;}

.slider .carousel-control .glyphicon-chevron-right, .slider .carousel-control .glyphicon-chevron-left {
    top: 32%;
}







.right-bar
{   position: fixed;
    right: 0px; 
    top: 190px;
    background: #fff;
    z-index: 999;    
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0 0px 20px rgba(222, 222, 222, 0.5);
    overflow: hidden;
}
.right-bar ul 
{   padding: 0px;
    margin:0px;    
}
.right-bar ul li
{   width: 100%; 
}
.right-bar ul li a
{   color: #62717f;  font-size: 18px; cursor: pointer; padding: 10px 15px 10px 50px;  display: inline-block; width: 100%;   
}
.right-bar ul li a:hover
{    color:#fff; background: #105DAC;
}

@media (max-width:768px)
{
    .right-bar
    {   display: none;        
    }
}




