  <!--Communities top section-->
  <section class="communities">
     <div class="container">
      <h2>Communities</h2>
      <p class="pera-textbig">Discover a lifestyle that works for you from 50+ <br /> communities across NSW, QLD and VIC.</p>
     </div>
   </section>
     <!--end of communities top section-->

  <!-- start location map section-->
  <div class="commu-bottom-map">
    <div id="map-boxmain">
        <div id="map">
          <div class="map-btn-main">
            <ul>
              <li (click)="newLocation('nsw')" id="nsw">NSW</li>
              <li (click)="newLocation('qsl')" id="qsl">QLD</li>
              <li (click)="newLocation('vct')" id="vct">VIC</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
   
  
   
   

  <!-- start community filter -->
  <section class="community-filter">
    <div class="container">
      <div class="row">
        <div class="col-sm-7"><h2 class="heading">Looking for something specific?</h2></div>
<!--         <div class="col-sm-5 text-right"><span class="chb-cl">
          <div class="checkbox" (click)="checkitnow()">
        <label (click)="checkitnow()" for="test1">
          <input type="checkbox" id="test1" value="" (click)="checkitnow()">
          Show only communities with homes for sale
        </label>
      </div>
        </span></div> -->
        <div class="col-sm-5 text-right">
          <span class="chb-cl">
            <div class="checkbox">
              <input type="checkbox" id="check4" value="">
              <label for="check4" (click)="showHomes()">Show only communities with homes for sale</label>
            </div>
          </span>
        </div>
      </div>
      <div class="row margtb">
        <div class="col-sm-6 search-section">
          <div class="form-group">
          <div class="input-group input-group-lg">

            <div class="icon-addon addon-lg">
              <input [(ngModel)]="filter" type="text" placeholder="Search for a community, suburb or state" class="texts" id="search-com">
              <label  class="glyphicon glyphicon-search"></label>
            </div>
            <span class="input-group-btn">
              <button class="btn-s" (click)="geoLocation('distance')" type="button">Go!</button>
            </span>
          </div>
        </div>
        </div>
        <div class="col-sm-6 text-right checkbox-section">
                  <!--   <div class="checkbox-main nsw" 
                    (click)="getCommunityList('all')">
                        <input type="checkbox" name="" id="check1" checked="">
                        <label>All</label>
                    </div> -->
          <div class="checkbox-main nsw">
            <input type="checkbox" name="" id="check1" checked="">
            <label for="check1" (click)="getCommunityList('new south wales')">NSW</label>
          </div>
          <div class="checkbox-main qld">
            <input type="checkbox" name="" id="check2" checked="">
            <label for="check2" (click)="getCommunityList('queensland')">QLD</label>
          </div>
          <div class="checkbox-main vic">
            <input type="checkbox" name="" id="check3" checked="">
            <label for="check3" (click)="getCommunityList('victoria')">VIC</label>
          </div>
        </div>
      </div>
      <!--  dropdown filter -->
      <div class="row sortinglisting">
        <div class="col-sm-6 showing" *ngIf="(communityListing| filter:filter).length">
          <p>Showing <span>{{(communityListing | filter:filter).length}} of {{originalLength}}</span> communities</p>
        </div>
        <div class="col-sm-6 showing" *ngIf="!(communityListing| filter:filter).length"><p> No result found. Please search another community.</p></div>
        <div class="col-sm-6 sorted text-right"> 

         <select class="selectpicker-dropdown" 
         (change)="sort($event.target.value)">
          <!-- <option value=""></option> -->
          <option value="orderby_name">Sort A to Z</option>
          <option value="distance"> Sort by distance</option>
          </select>
        </div>
      </div>
      <!--  end of dropdown filter -->
    </div>
  </section>
  <!-- end community filter -->
   
  <!--listing card -->  
    <section class="lookingsomthing-warp">
    <div class="container">
      <div class="inner-box-warp">
        <ul class="append-data">
          <!-- product detail card -->        
          <li class="detail-list" *ngFor="let community of communityListing | orderBy: key | filter:filter; let i = index">
              <div class="img-slider-warp">
                  <div class="sl-box">
                      <div id="carousel2{{i}}" class="carousel slide" data-interval="false">
                          <div class="carousel-inner">                                    
                              <div class="item active">
                                  <img class="com-img" 
                                  [src]="community.featured_image.url" 
                                  alt="">
                              </div>                                  
                              <div class="item" *ngFor="let _image of community.community_images">
                                  <img class="com-img" 
                                  [src]="_image.community_images.url" 
                                  alt="">
                              </div>
                          </div> 
                          <a class="left carousel-control" href="#carousel2{{i}}" data-slide="prev" style="top: 26%;">‹</a>
                          <a class="right carousel-control" href="#carousel2{{i}}" data-slide="next" style="top: 26%;">›</a>
                      </div>
                  </div>
                  <div class="circle-icon">
                      <img [src]="community.community_icon.url" alt=""></div>
              </div>
              <a routerLink="/community/{{community.slug}}">
                   <div>
                      <h3 id="aspley" [ngStyle]= "{'color':community.primary_color}">{{community.first_name}}<span> {{community.last_name}}</span></h3>  
                       <p>{{community.street_address}}</p>
                       <h4 *ngIf="community.home_from"><i class="home-icon"></i> Homes from ${{community.home_from | number:'1.0'}}</h4>
                  </div>
              </a>           
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--End -->
    
    <!-- start CTA block -->
  <section class="cta-block">
    <div class="container">
      <h2 class="whithead">Let's chat about your next home <br> and discuss if Gateway is right <br>for you.</h2>
      <div class="buttons">
        <a href='#' data-toggle="modal" data-target="#get-an-info-pack-modal-static" class="borbtn">Get an info pack</a> 
      </div>
      <p>Or give us a call on 1300 361 311.</p>
    </div>
  </section>
      <!-- Get an info pack Modal -->
  <div class="modal fade" id="get-an-info-pack-modal-static" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body no-pad">
                     <button type="button" class="close" data-dismiss="modal"  (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)" >&times;</button>
                    <div class="col-sm-5 col-md-5 right-img-main no-pad hidden-xs hidden-sm">
                        <div class="right-img-full">
                            <div class="right-img-full" style="background: url(images/generic-info.jpg) no-repeat center;"></div>
                            <!--  <img 
                             [src]="comunitylatestDetail.featured_image.url" alt="" style= 
                             "height: -webkit-fill-available;"> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 getinfowp">
                   
                        <div class="wp-main">
                         <h3 style="color: #105dac;">
                            <div class="title-img-round">
                                <img src="images/Gateway-icon-only-square.png" alt="" class="">    
                            </div>
                            Get an info pack
                         </h3>
                         <!-- <div class="profile-row">
                            <div class="profile-img"><img src="images/img11.png" alt=""></div> 
                            <p><strong> Melinda James</strong> | +61 421 223 221 | melinda.james@gty.com.au</p>
                         </div> -->
                         <div class="divider"></div>
<!--                         <div class="form-getinfo-succes">
                            <div class="row">
                            <div class="col-sm-2"><img src="images/form-sucess.png" alt=""></div>    
                            <div class="col-sm-10"><p class="pera-textbig"> Thank you for your enquiry. We've emailed you the info pack. You can view it by clicking the button below.</p>
                            <button (click)="infoPdf(genericInfo.info_pack?.info_pdf.url)" 
                             class="btn btn-org">View the info pack Now</button></div>
                            </div>
                        </div> -->
                         <div class="form-wp-getinfo">
                             <div class="row">
                                <!-- form starts here-->
                                <form #infoForm="ngForm" novalidate>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.firstname" 
                                           class="form-control" placeholder = "First name*" name="firstname" type="text" #firstname="ngModel" 
                                           [ngClass]="{'red-border-class': firstname.invalid && submitted == true }" required> 
                                           <p class="requiedred" [hidden]="firstname.valid || submitted == false">
                                            Please Enter First name
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.lastname" 
                                           class="form-control" placeholder = "Last name*" name="lastname" type="text" #lastname="ngModel" 
                                           [ngClass]="{'red-border-class': lastname.invalid && submitted == true }" required>
                                           <p class="requiedred" [hidden]="lastname.valid || submitted == false">
                                            Please Enter Last name
                                        </p>   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.plan" 
                                           class="form-control" placeholder ="When are you planning on buying a home? Eg: 6 months, 3 months, etc." name="plan" type="text" #plan="ngModel">   
                                        </div>
                                    </div>  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.phone" 
                                           class="form-control" placeholder = "Phone" name="phone" type="tel" #phone="ngModel">   
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.email" 
                                           class="form-control" placeholder = "Email*" name="email" type="email" #email="ngModel" [ngClass]="{'red-border-class': email.invalid && submitted == true }" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>  
                                           <p class="requiedred" [hidden]="email.valid || submitted == false">
                                            Please Enter your email
                                            </p> 
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <textarea [(ngModel)]="info.area" 
                                           class="form-control" placeholder="Anything else you'd like to tell us?" name="area" type="text" #area="ngModel" rows="7" ></textarea>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                    <button  class="btn btn-org"  id="send-sucess"
                                     (click)="getInfo(infoForm)" style="background: #105dac; border-color:#105dac;" 
                                    (mouseover)="changeColor($event)" 
                                    (mouseout)="changeColor($event)" type="submit">Get an info pack</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--end  Get an info pack Modal -->