<!-- <h4 *ngIf="!isDataAvailable">Loading...</h4>
<div *ngIf="isDataAvailable" style="padding: 30px;">
	<h3>{{eventDetail.name}}</h3>
	<p>{{eventDetail.description}}</p>
	<button class="btn btn primary" (click)="eventUrl()">Register for the Event</button>
</div> -->
<!-- event top section-->
 <section class="event-detail-topwarp">
     <div class="container">
        <div class="row">
          <div class="col-sm-8 pad-r0">
              <h2 class="hidden-xs" [ngStyle]="{'color':eventDetail?.event_community.primary_color}">{{eventDetail.name}}</h2>
              <div class="img-box"><img [src]="eventDetail.image_url" alt=""></div>
              <h2 class="des-hide" [ngStyle]="{'color':eventDetail?.event_community.primary_color}">{{eventDetail.name}}</h2>
              <p class="pera-textbig">{{eventDetail.description}}
             </p>
          </div>
          <div class="col-sm-4 pad-l0">
              <div class="r-box">
                  <span>{{eventDetail.event_date}}</span>
                  <span>{{eventDetail.event_month}}</span>
                  <p class="padding-event">{{eventDetail.new_start_time | date:'shortTime'}} – {{eventDetail.new_end_time | date:'shortTime'}} AEST</p>
                  <div class="devider"></div>
                  <p *ngIf="eventDetail.venue"><strong>Location</strong></p>
                  <p class="last">{{eventDetail.venue}}</p>
                  <a href="{{eventDetail.event_url}}" target="_blank"><button class="btn btn-org"
                    [ngStyle]="{'background':eventDetail?.event_community.primary_color,'border-color':eventDetail?.event_community.primary_color}" (mouseover)="changeColor($event)" (mouseout)="changeColor($event)">Free rsvp</button></a>
              </div>
          </div>
        </div>

     </div>
 </section>

<!-- start Go To Community  section -->
<section class="goto-community" [ngStyle]="{'background-image': 'url(' + eventDetail?.event_community.featured_image.url + ')','background-repeat': 'no-repeat','background-position': 'center'}">
    <div class="container">
		<div class="box-warp">
			<div class="logo-community"><img
                [src]="eventDetail?.event_community.community_logo.url" alt=""></div>
			<p class="pera-textbig">This event is in {{eventDetail?.event_community.first_name}} {{eventDetail?.event_community.last_name}}.</p>
			<p class="pera-textbig">{{eventDetail?.event_community.first_name}} is a peaceful residential area set around Little Cabbage Tree Creek, in the northern suburbs of Brisbane.</p>
			<button class="btntheme" (click)="goToCommunity(eventDetail?.event_community.slug)"
            [ngStyle]="{'background':eventDetail?.event_community.primary_color,'border-color':eventDetail?.event_community.primary_color}" (mouseover)="changeColor($event)" (mouseout)="changeColor($event)">Go To Community</button>
		</div>
	</div>
</section>
<!-- start Planned Open days section -->

<!-- open days Section-->
<section class="sale-at-Aspley padbot0 " id="Open-days" *ngIf="eventDetail?.events_in_community.length">
    <div class="container">
        <div class="card">
            <h2 class="heading">All open days in this community</h2>
            <div class="divider"></div>
        </div>
    </div>
      <div class="tab-content">
        <div class="tab-pane active" >
            <div class="center slider sale-box">
            	<div *ngFor="let ev of eventDetail.events_in_community">
                    <ul>
                        <a href="/events/{{ev.id}}">
                            <li class="width-fullnomarg">
                                <div class="box">
                                    <div class="date-box" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+eventDetail?.event_community.primary_color+' 0%, '+eventDetail?.event_community.secondary_color +' 100%)'}">
                                        <div class="date">
                                            <span>{{ev.ev_day}}</span>
                                            <span>{{ev.ev_month}}</span>
                                        </div>
                                    </div>
                                    <h5>Read more & RSVP.</h5>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
         <div class="bot-but">
            <a href="#" data-toggle="modal" data-target="#mydays" (mouseover)="onHover($event)" (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{eventDetail.events_in_community?.length}} open days</a>
        </div>
    </div>
    <!-- Tab panes -->

</section>
<!-- end of open day Section-->

<!-- Start Home for sale at Aspley Section-->
    <section class="sale-at-Aspley padbot0 margbot80" id="Homes-for-sale"
    [hidden]= "!eventDetail?.community_homes.length">
        <div class="container">
            <div class="card">
                <h2 class="heading">Homes in this community</h2>
                <ul class="nav nav-tabs right-tab right-sidetab" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#All-homes" aria-controls="All-homes" role="tab" data-toggle="tab" [ngStyle]="{'color': eventDetail?.event_community.primary_color}">All homes<div [ngStyle]="{'background': eventDetail?.event_community.primary_color}" class="bottom-line"></div></a>
                    </li>
                    <li role="presentation" *ngIf="newHomes?.length">
                        <a href="#New-Homes" aria-controls="New-Homes" role="tab" data-toggle="tab" (mouseover)="after($event)"
                        (mouseout)="after($event)">New Homes<div style="background: none" class="bottom-line"></div></a>
                    </li>
                    <li role="presentation" *ngIf="preLoved?.length">
                        <a href="#Pre-loved-homes" aria-controls="Pre-loved-homes" role="tab" data-toggle="tab" (mouseover)="after($event)"
                        (mouseout)="after($event)">Pre-loved homes<div style="background: none" class="bottom-line"></div></a>
                    </li>
                </ul>
            </div>
        </div>

          <div class="tab-content">
            <!-- all homes tab -->
            <div role="tabpanel" class="tab-pane active" id="All-homes">
                <div class="center slider sale-box">
                    <div *ngFor="let home of eventDetail?.community_homes">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a routerLink="/homes-for-sale/{{home.id}}"><img *ngIf="home?.images?.length"
                                    [src]="home.images[0]" alt=""></a>
                                </div>
                                <a routerLink="/homes-for-sale/{{home.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}">{{home.address}}</h4></a>
                               <a *ngIf="home?.list_price" routerLink="/homes-for-sale/{{home.id}}"> <p>${{home.list_price | number : '1.0'}}</p> </a>
                            </div>

                        </li>
                    </div>
                </div>
            </div>
            <!-- end of all homes tab -->
            <!-- new home tab -->
            <div role="tabpanel" class="tab-pane" id="New-Homes" *ngIf="newHomes?.length">
                <div class="center slider sale-box">
                    <div *ngFor="let new of newHomes">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a href="/homes-for-sale/{{new.id}}"><img *ngIf="new?.images?.length" [src]="new.images[0]" alt=""></a>
                                </div>
                                <a href="/homes-for-sale/{{new.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}">{{new.address}}</h4></a>
                                <a *ngIf="new?.list_price" href="/homes-for-sale/{{new.id}}"> <p>${{new.list_price | number : '1.0'}}</p> </a>
                            </div>

                        </li>
                    </div>
                </div>
            </div>
            <!-- end of new home tab -->
            <!-- preloved tab -->
            <div role="tabpanel" class="tab-pane" id="Pre-loved-homes" *ngIf="preLoved?.length">
                <div class="center slider sale-box">
                    <div *ngFor="let loved of preLoved">
                        <li class="width-fullnomarg">
                            <div class="img-show-box">
                                <div class="homefor-sale-box-img">
                                <a routerLink="/homes-for-sale/{{loved.id}}"><img *ngIf="loved?.images?.length"
                                    [src]="loved.images[0]" alt=""></a>
                                </div>
                                <a routerLink="/homes-for-sale/{{loved.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}">{{loved.address}}</h4></a>
                                 <a *ngIf="loved?.list_price" routerLink="/homes-for-sale/{{loved.id}}"> <p>${{loved.list_price | number : '1.0'}}</p> </a>
                            </div>

                        </li>
                    </div>
                </div>
            </div>
            <!-- ennd of preloved tab -->
        </div>

        <div class="container">
             <div class="bot-but">
                <a href="#" data-toggle="modal" data-target="#myModal" (mouseover)="onHover($event)"
                                    (mouseout)="onHover($event)"><i class="icon"></i>Show me all {{eventDetail?.community_homes.length}} homes</a>
            </div>
        </div>
        <!-- Tab panes -->

    </section>
<!-- end Home for sale at Aspley Section-->

<!-- start leaving at aspley section-->
<section class="leaving-at-aspley" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+eventDetail?.event_community.primary_color+' 0%, '+eventDetail?.event_community.secondary_color +' 100%)'}">
    <div class="container">
        <h2>Open days and events are the <br /> best way to experience our<br /> homes and communities.</h2>

        <div class="buttons">
            <a href="{{eventDetail.event_url}}" target="_blank" class="ods-btn" [ngStyle]="{'color':eventDetail?.event_community.primary_color}">RSVP now</a>
        </div>
    </div>
</section>

<!--
Start model warper
-->


<!-- Modal open days-->
<div class="modal fade" id="mydays" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"  (mouseover)="onHover($event)" (mouseout)="onHover($event)">&times;</button>
                <section class="sale-at-Aspley">
                    <div class="container">
                        <div class="card">
                            <h2 class="heading">{{eventDetail.events_in_community?.length}} Planned open days</h2>
                            <div class="divider"></div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- content -->
                            <div class="sale-box" *ngFor="let ev of eventDetail.events_in_community">
                                <!-- first in order -->
                                <a href="/events/{{ev.id}}">
                                    <li class="width-fullnomarg">
                                        <div class="box">
                                            <div class="date-box" [ngStyle]="{'background': '-webkit-linear-gradient(left, '+eventDetail?.event_community.primary_color+' 0%, '+eventDetail?.event_community.secondary_color +' 100%)'}">
                                                <div class="date">
                                                    <span>{{ev.ev_day}}</span>
                                                    <span>{{ev.ev_month}}</span>
                                                </div>
                                            </div>
                                           <h5>Read more & RSVP.</h5>
                                        </div>
                                    </li>
                                </a>
                                <!-- end of fourth in order -->
                            </div>
                            <!-- end of content -->
                        </div>
                    </div>

                </section>
            </div>

        </div>

    </div>
</div>

<!-- Modal all 28 homes-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (mouseover)="onHover($event)"
                                    (mouseout)="onHover($event)">&times;</button>
                    <section class="sale-at-Aspley">
                        <div class="container">
                            <div class="card">
                                <h2 class="heading mgtm20">Homes in this community</h2>
                                <ul class="nav nav-tabs right-tab right-sidetab" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#model-All-homes" aria-controls="All-homes" role="tab" data-toggle="tab" [ngStyle]="{'color': eventDetail?.event_community.primary_color}">All homes<div [ngStyle]="{'background': eventDetail?.event_community.primary_color}" class="bottom-line"></div></a>
                                    </li>
                                    <li role="presentation" *ngIf="newHomes?.length">
                                        <a href="#model-New-Homes" aria-controls="New-Homes" role="tab" data-toggle="tab" (mouseover)="after($event)"
                                        (mouseout)="after($event)">New Homes<div style= "background: none" class="bottom-line"></div></a>
                                    </li>
                                    <li role="presentation" *ngIf="preLoved?.length">
                                        <a href="#model-Pre-loved-homes" aria-controls="Pre-loved-homes" role="tab" data-toggle="tab" (mouseover)="after($event)"
                                        (mouseout)="after($event)">Pre-loved homes<div style= "background: none" class="bottom-line"></div></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="model-All-homes">
                                    <div class="sale-box">
                                        <li *ngFor="let home of eventDetail?.community_homes">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href ="/homes-for-sale/{{home.id}}"><img *ngIf="home?.images?.length"
                                                    [src]="home.images[0]" alt="" ></a>
                                                </div>
                                                <a href="/homes-for-sale/{{home.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}" >{{home.address}}</h4></a>
                                                <a *ngIf="home?.list_price" href="/homes-for-sale/{{home.id}}" ><p>${{home.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="model-New-Homes" *ngIf="newHomes?.length">
                                    <ul class="sale-box">
                                        <li *ngFor="let new of newHomes">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href="/homes-for-sale/{{new.id}}"><img *ngIf="new?.images?.length"
                                                    [src]="new.images[0]" alt="" ></a>
                                                </div>
                                                <a href="/homes-for-sale/{{new.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}" >{{new.address}}</h4></a>
                                                 <a *ngIf="new?.list_price" href="/homes-for-sale/{{new.id}}" ><p>${{new.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="model-Pre-loved-homes" *ngIf="preLoved?.length">
                                    <ul class="sale-box">
                                        <li *ngFor="let loved of preLoved">
                                            <div class="img-show-box">
                                                <div class="homefor-sale-box-img">
                                                <a href="/homes-for-sale/{{loved.id}}"><img *ngIf="loved?.images?.length"
                                                    [src]="loved.images[0]" alt="" ></a>
                                                </div>
                                                <a href="/homes-for-sale/{{loved.id}}"><h4 [ngStyle]="{'color': eventDetail?.event_community.primary_color}" >{{loved.address}}</h4></a>
                                                <a *ngIf="loved?.list_price" href="/homes-for-sale/{{loved.id}}" ><p>${{loved.list_price | number : '1.0'}}</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

            </div>

        </div>
    </div>
<!--end Modal all 28 homes -->
