	<!--from-our-blog section-->
   	
   		<section class="from-our-blog">
   			<div class="container">
				<div class="blog-section-heading">
					<h3>From our blog</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="blog-list">
					<ul>
						<li>
							<div class="blog-single-div" style="background: url(../images/blog1.png) no-repeat center center;">
								<h3>Move into a Lifestyle Community and watch your finances thrive </h3>
							</div>
						</li>
						<li>
							<div class="blog-single-div" style="background: url(../images/blog2.png) no-repeat center center;">
								<h3>8 Reasons Why Over 50s Lifestyle Villages are the Smart Choice</h3>
							</div>
						</li>
						<li>
							<div class="blog-single-div" style="background: url(../images/blog3.png) no-repeat center center;">
								<h3>The 7 Lifestyle Options You Have for Retirement</h3>
							</div>
						</li>
					</ul>
				</div>
				<div class="more-articles"><a href="#">explore more articles</a></div>
			</div>
   		</section>
   
    <!--end-->