<!-- Header width bg - fixed version -->
    <section class="hfsl-banner our-team-hero" [ngStyle]="{'background-image': 'url(' + bgimg + ')','background-repeat': 'no-repeat','background-position': 'center'}">
        <div class="overlay"></div>     
        <div class="context">
            <div class="container">
                 <h2>{{ourteamHerohead}}</h2>
                 <p>{{ourteamHerotext}}</p>
            </div>
        </div>
    </section>
    <!-- Header width bg - fixed version end -->
    
    <!-- start directors block -->
    <section class="directors-block">
        <div class="container">
           <div class="row">
                <div class="col-md-12">
                    <h2>{{ourTeamDirectorHeading}}</h2>
                </div>    
           </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{directorimg1}}" alt="">
                        </div>
                        <h3 class="name">{{directorTitle1}}</h3>
                        <h3 class="designation">{{directorDesignation1}}</h3>
                        <!-- <p>{{directorDescription1}}</p> -->
                        <markdown [data]="directorDescription1"></markdown>
                    </div>
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{directorimg4}}" alt="">
                        </div>
                        <h3 class="name">{{directorTitle4}}</h3>
                        <h3 class="designation">{{directorDesignation4}}</h3>
                        <!-- <p>{{directorDescription4}}</p> -->
                        <markdown [data]="directorDescription4"></markdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{directorimg2}}" alt="">
                        </div>
                        <h3 class="name">{{directorTitle2}}</h3>
                        <h3 class="designation">{{directorDesignation2}}</h3>
                        <!-- <p>{{directorDescription2}}</p> -->
                        <markdown [data]="directorDescription2"></markdown>
                    </div>
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{directorimg5}}" alt="">
                        </div>
                        <h3 class="name">{{directorTitle5}}</h3>
                        <h3 class="designation">{{directorDesignation5}}</h3>
                        <!-- <p>{{directorDescription5}}</p> -->
                        <markdown [data]="directorDescription5"></markdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{directorimg3}}" alt="">
                        </div>
                        <h3 class="name">{{directorTitle3}}</h3>
                        <h3 class="designation">{{directorDesignation3}}</h3>
                        <!-- <p>{{directorDescription3}}</p> -->
                        <markdown [data]="directorDescription3"></markdown>
                    </div>
                </div>
           </div>
        </div>
    </section>
    <!-- end directors block -->



    <!-- start directors block -->
    <section class="directors-block">
        <div class="container">
           <div class="row">
                <div class="col-md-12">
                    <h2>{{managementHeading}}</h2>
                </div>    
           </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{managementimg1}}" alt="">
                        </div>
                        <h3 class="name">{{managementTitle1}}</h3>
                        <h3 class="designation">{{managementDesignation1}}</h3>
                        <!-- <p>{{managementDescription1}}</p> -->
                        <markdown [data]="managementDescription1"></markdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{managementimg2}}" alt="">
                        </div>
                        <h3 class="name">{{managementTitle2}}</h3>
                        <h3 class="designation">{{managementDesignation2}}</h3>
                        <!-- <p>{{managementDescription2}}</p> -->
                        <markdown [data]="managementDescription2"></markdown>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="directors-col">
                        <div class="profile-img">
                            <img src="{{managementimg3}}" alt="">
                        </div>
                        <h3 class="name">{{managementTitle3}}</h3>
                        <h3 class="designation">{{managementDesignation3}}</h3>
                        <!-- <p>{{managementDescription3}}</p> -->
                        <markdown [data]="managementDescription3"></markdown>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="directors-col col-with-image">
                        <div class="profile-img">
                            <img src="{{managementimg4}}" alt="">
                        </div>
                        <h3 class="name">{{managementTitle4}}</h3>
                        <h3 class="designation">{{managementDesignation4}}</h3>
                        <!-- <p>{{managementDescription4}}</p> -->
                        <markdown [data]="managementDescription4"></markdown>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="our-team-main-img">
                        <img src="{{teamimg}}" alt="">
                    </div>
                </div>
           </div>
        </div>
    </section>
    <!-- end directors block -->


   <!-- featured homes Section - fixed version -->
    <section class="sale-at-Aspley our-home-designe" id="featured-home">
        <div class="container">
            <div class="card">
                <h2 class="heading">Featured homes</h2>
                <div class="heading-right-link"><a routerLink="/homes-for-sale">Discover all {{homeCount}} homes for sale</a></div>
                <div class="divider"></div>
            </div>
        </div>

        <div class="tab-content">
            <!-- all homes tab -->
            <div role="tabpanel" class="tab-pane active" id="All-homes">
                <div class="lookingsomthing-warp home-carousel">
                    <div class="inner-box-warp">

                        <div class="center slider">
                            <!-- community card -->
                            <div *ngFor="let home of featuredHomes;let jj = index">
                                <ul class="home-for-sale">
                                    <li class="detail-list">
                                            <div class="img-slider-warp mart-bot14">
                                                <div class="sl-box">
                                                    <span *ngIf="home.status=='sold'" class="paid-btn">sold</span>

                                                    <span *ngIf="home.status=='under_offer'" class="paid-btn" style="background: #f89923;">Under Offer</span>
                                                    <div id="carousel{{jj}}" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner home-carousel">                                                          
                                                        <div class="item" *ngFor="let _image of home.images;let ii = index" [ngClass]="{active: ii===0}">
                                                              <img 
                                                              [src]="_image" 
                                                              alt="">
                                                          </div>
                                                        </div>
                                                        <a class="left carousel-control" href="#carousel{{jj}}" data-slide="prev">‹</a>
                                                        <a class="right carousel-control" href="#carousel{{jj}}" data-slide="next">›</a>
                                                    </div>

                                                </div>
                                            </div>
                                            <a href="homes-for-sale/{{home.id}}">
                                            <div class="pr-b" *ngIf="home?.list_price">${{home?.list_price | number:'1.0'}}</div>
                                            <p>{{home.address}} {{home.address1}}</p>
                                            <h4 class="margt25"><i class="sicon" [ngStyle]="{'background-image': 'url(' + home?.community?.community_icon?.url + ')','background-repeat': 'no-repeat','background-position': 'center'}"></i> Located in {{home.community.first_name}}</h4>
                                            <div class="afs-wp">
                                                <ul>
                                                    <li><i class="bed"></i> {{home.no_of_bedrooms}}</li>
                                                    <li><i class="tub"></i> {{home.no_of_bathrooms}}</li>
                                                    <li><i class="car"></i> {{home.car_space}}</li>
                                                </ul>
                                                <div *ngIf="home?.record_type == 'Pre-loved'" class="new-btn new-btn" style="border: 1px solid #62717f; color: #62717f!important; ">Pre Loved</div>
                                                <div *ngIf="home?.record_type == 'New'" class="new-btn new-btn">New</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end of all homes tab -->
        </div>


    </section>
    <!-- featured homes Section - fixed version -->


    <!-- start CTA block -->
    <!-- <section class="join-our-team" [ngStyle]="{'background-image': 'url(' + imageBackground + ')','background-repeat': 'no-repeat','background-position': 'center'}"> -->
    <section class="join-our-team">
        <div class="container">
            <div class="join-our-team-inner">
                <h2>{{ctaHeading}}</h2>
                <p>{{ctaDescription}}</p>
                <div class="buttons">
                    <a href="{{ctaButtonUrl}}" class="btn-blue">{{ctaButtonText}}</a> 
                </div>
            </div>
        </div>
    </section>
    <!-- end CTA block -->



	<!-- start CTA block - fixed version -->
	 <!-- <section class="cta-block">
        <div class="container">
            <h2 class="whithead">{{standardCtaInfoPackDescription}}</h2>
            <div class="buttons">
                <a href='#' data-toggle="modal" data-target="#get-an-info-pack-modal-static" class="borbtn">{{standardCtaInfoPackButtonText}}</a>
            </div>
            <p>{{standardCtaInfoPackAfterButtonText}}</p>
        </div>
    </section> -->
	<!-- start CTA block - fixed version -->
        
    <!-- Get an info pack Modal -->
  <div class="modal fade" id="get-an-info-pack-modal-static" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body no-pad">
                     <button type="button" class="close" data-dismiss="modal"  (mouseover)="onHover($event)" 
                                    (mouseout)="onHover($event)" >&times;</button>
                    <div class="col-sm-5 col-md-5 right-img-main no-pad hidden-xs hidden-sm">
                        <div class="right-img-full">
                            <div class="right-img-full" style="background: url(images/generic-info.jpg) no-repeat center;"></div>
                            <!--  <img 
                             [src]="comunitylatestDetail.featured_image.url" alt="" style= 
                             "height: -webkit-fill-available;"> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 getinfowp">
                   
                        <div class="wp-main">
                         <h3 style="color: #105dac;">
                            <div class="title-img-round">
                                <img src="images/Gateway-icon-only-square.png" alt="" class="">    
                            </div>
                            Get an info pack
                         </h3>
                         <!-- <div class="profile-row">
                            <div class="profile-img"><img src="images/img11.png" alt=""></div> 
                            <p><strong> Melinda James</strong> | +61 421 223 221 | melinda.james@gty.com.au</p>
                         </div> -->
                         <div class="divider"></div>
<!--                         <div class="form-getinfo-succes">
                            <div class="row">
                            <div class="col-sm-2"><img src="images/form-sucess.png" alt=""></div>    
                            <div class="col-sm-10"><p class="pera-textbig"> Thank you for your enquiry. We've emailed you the info pack. You can view it by clicking the button below.</p>
                            <button (click)="infoPdf(genericInfo.info_pack?.info_pdf.url)" 
                             class="btn btn-org">View the info pack Now</button></div>
                            </div>
                        </div> -->
                         <div class="form-wp-getinfo">
                             <div class="row">
                                <!-- form starts here-->
                                <form #infoForm="ngForm" novalidate>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.firstname" 
                                           class="form-control" placeholder = "First name*" name="firstname" type="text" #firstname="ngModel" 
                                           [ngClass]="{'red-border-class': firstname.invalid && submitted == true }" required> 
                                           <p class="requiedred" [hidden]="firstname.valid || submitted == false">
                                            Please Enter First name
                                            </p>  
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.lastname" 
                                           class="form-control" placeholder = "Last name*" name="lastname" type="text" #lastname="ngModel" 
                                           [ngClass]="{'red-border-class': lastname.invalid && submitted == true }" required>
                                           <p class="requiedred" [hidden]="lastname.valid || submitted == false">
                                            Please Enter Last name
                                        </p>   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.plan" 
                                           class="form-control" placeholder ="When are you planning on buying a home? Eg: 6 months, 3 months, etc." name="plan" type="text" #plan="ngModel">   
                                        </div>
                                    </div>  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.phone" 
                                           class="form-control" placeholder = "Phone" name="phone" type="tel" #phone="ngModel">   
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                           <input [(ngModel)]="info.email" 
                                           class="form-control" placeholder = "Email*" name="email" type="email" #email="ngModel" [ngClass]="{'red-border-class': email.invalid && submitted == true }" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>  
                                           <p class="requiedred" [hidden]="email.valid || submitted == false">
                                            Please Enter your email
                                            </p> 
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <textarea [(ngModel)]="info.area" 
                                           class="form-control" placeholder="Anything else you'd like to tell us?" name="area" type="text" #area="ngModel" rows="7" ></textarea>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12">
                                    <button  class="btn btn-org"  id="send-sucess"
                                     (click)="getInfo(infoForm)" style="background: #105dac; border-color:#105dac;" 
                                    (mouseover)="changeColor($event)" 
                                    (mouseout)="changeColor($event)" type="submit">Get an info pack</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--end  Get an info pack Modal -->
